{% set layout = "plain" %}
{% extends "layout.html" %}
{% block page_title %}
    Index
{% endblock page_title %}
{% block body %}
    <div class="section" id="janitor">
        <h1>Janitor Instance</h1>
        <p>
            <em>The <a href="/about">Janitor</a> is a project to automatically make changes to Debian
            packages.</em>
        </p>
        <h2>Campaigns</h2>
        <ul>
            {% for campaign in campaigns %}
                <li>
                    <a href="{{ campaign.name }}">{{ campaign.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <p>
        For Janitor internal status details, see the <a href="cupboard">cupboard</a>.
    </p>
{% endblock body %}
