{% macro codebase_input(name) %}
    <input id="sidebar-codebase"
           type="text"
           name="codebase"
           class="typeahead"
           placeholder="Codebase" />
    <script>
        $.typeahead({
            input: "#sidebar-codebase",
            order: "asc",
            source: {
                codebases: {
                    ajax: {
                        url: '/api/pkgnames',
                        path: ''
                    },
                }
            }
        });
    </script>
{% endmacro %}
