<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Janitor
            {% if self.page_title() | trim | length > 0 %}-
            {% block page_title %}
            {% endblock page_title %}
            {% endif %}
        </title>
        <link rel="author" title="About these documents" href="/about" />
        <link rel="stylesheet" href="/_static/alabaster.css" type="text/css" />
        <link rel="stylesheet" href="/_static/lintian.css" type="text/css" />
        <link rel="stylesheet" href="/_static/typeahead.css" type="text/css" />
        <link rel="stylesheet" href="/_static/pygments.css" type="text/css" />
        <link rel="stylesheet" href="/_static/datatables.css" type="text/css" />
        <meta name="viewport"
              content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />
        {% include "head.html" ignore missing without context %}
    </head>
    <body>
        <script src="/_static/jquery.js"></script>
        <script src="/_static/jquery.typeahead.js"></script>
        <script src="/_static/jquery.datatables.js"></script>
        <script src="/_static/moment.js"></script>
        <script src="/_static/chart.js"></script>
        <script src="/_static/janitor.js"></script>
        {% include "analytics.html" ignore missing without context %}
        <div class="{% if self.sidebar() | trim | length > 0 %}document{% else %}plain-document{% endif %}">
            {% if self.sidebar() | trim | length > 0 %}
            {% block sidebar %}
            {% endblock sidebar %}
            <div class="documentwrapper">
                <div class="bodywrapper">
            {% endif %}
            <main>
                {% block body %}
                {% endblock body %}
            </main>
            {% if self.sidebar() | trim | length > 0 %}
                </div>
            </div>
            {% endif %}
        </div>
        {% include "footer.html" %}
    </body>
</html>
