{% extends "layout.html" %}
{% block sidebar %}
    {% if not campaign %}
        {% include "cupboard/sidebar.html" %}
    {% else %}
        {% include [campaign + "/sidebar.html", "generic/sidebar.html"] %}
    {% endif %}
{% endblock sidebar %}
{% block page_title %}
    Changes Ready to Publish
    {% if campaign %}- {{ campaign }}{% endif %}
{% endblock page_title %}
{% block body %}
    <div class="section" id="history">
        <h1>Ready to publish</h1>
        <p><em>Runs in this campaign with changes ready to publish.</em></p>
        {% if runs %}
            <ul>
                {% for run in runs %}
                    <li>
                        <a href="/cupboard/c/{{ run.codebase }}/">{{ run.codebase }}</a>
                        {% set command = run.command -%}
                        {% set result = run.result -%}
                        {% include [run.suite + "/summary.html", "generic/summary.html"] %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nothing is ready to publish right now.</p>
        {% endif %}
    </div>
{% endblock body %}
