[submodule "lintian-brush"]
	path = lintian-brush
	url = https://salsa.debian.org/jelmer/lintian-brush.git
[submodule "silver-platter"]
	path = silver-platter
	url = https://github.com/jelmer/silver-platter
[submodule "breezy-debian"]
	path = breezy-debian
	url = https://github.com/breezy-team/breezy-debian.git
[submodule "breezy"]
	path = breezy
	url = https://github.com/breezy-team/breezy.git
[submodule "dulwich"]
	path = dulwich
	url = https://github.com/dulwich/dulwich.git
[submodule "python-debian"]
	path = python-debian
	url = https://salsa.debian.org/janitor-team/python-debian.git
[submodule "debmutate"]
	path = debmutate
	url = https://salsa.debian.org/jelmer/debmutate.git
[submodule "ognibuild"]
	path = ognibuild
	url = https://github.com/jelmer/ognibuild.git
