.coverage
*.swp
*.swo
build/
__pycache__
.plugins
.pybuild
_build/*
*.pyc
*.rej
*.orig
*~
site/_build
state.db
site/history.rst
build.log
debian_janitor.egg-info/
.mypy_cache/
.venv
.eggs
janitor.egg-info
pyvenv.cfg
lib
lib64
/bin
man
share
.hypothesis
.tox
Cargo.lock
target
.testrepository
py/janitor/_*.cpython-*.so
.claude/settings.local.json
