[submodule "lintian-brush"]
	path = lintian-brush
	url = https://salsa.debian.org/jelmer/lintian-brush
[submodule "silver-platter"]
	path = silver-platter
	url = https://jelmer.uk/code/silver-platter
[submodule "breezy"]
	path = breezy
	url = git://github.com/breezy-team/breezy
[submodule "breezy-debian"]
	path = breezy-debian
	url = git://github.com/breezy-team/breezy-debian
