[submodule "lintian-brush"]
	path = lintian-brush
	url = https://salsa.debian.org/jelmer/lintian-brush.git
[submodule "silver-platter"]
	path = silver-platter
	url = https://jelmer.uk/code/silver-platter
[submodule "breezy-debian"]
	path = breezy-debian
	url = https://github.com/breezy-team/breezy-debian.git
[submodule "breezy"]
	path = breezy
	url = https://github.com/breezy-team/breezy.git
[submodule "dulwich"]
	path = dulwich
	url = https://github.com/dulwich/dulwich.git
