# Storage location for APT repository; can be:
#  + a local file path
#  + a GCS location (gs://BUCKET-NAME/)
apt_location: 'gs://debian-janitor-apt/'

# Logs location; can be:
#  + a local file path
#  + a GCS location (gs://BUCKET-NAME/)
#  + a S3 location (https://...)
logs_location: 'https://s3.nl-ams.scw.cloud'

# VCS Location; must be a local path.
vcs_location: '/home/janitor/vcs'

# Artifact location: used to store build results. Can be:
#  + a local file path
#  + a GCS location (gs://BUCKET-NAME/)
artifact_location: '/home/janitor/artifacts'

# Database location: must be a valid postgresql URL
database_location: 'postgresql://janitor@example.com:5432/janitor'

# Set the default committer; if unset defaults to current users' preferences
# (i.e. ~/.gitconfig)
committer: 'Debian Janitor <janitor@jelmer.uk>'

# Origin set in published archives
origin: "janitor.debian.net"

distribution {
  name: "unstable"
  archive_mirror_uri: "http://deb.debian.org/debian"
  tracker_url: "https://tracker.debian.org/pkg/"
  component: "main"
  chroot: "unstable-amd64-sbuild"
  lintian_profile: "debian"
  build_command: "sbuild -Asv"
}

suite {
  name: "lintian-fixes"
  branch_name: "lintian-fixes"
  debian_build {
    archive_description: "Builds of lintian fixes"
    build_distribution: "lintian-fixes"
    build_suffix: "jan+lint"
    base_distribution: "unstable"
    build_command: "sbuild -Asv"
  }
}

suite {
  name: "unchanged"
  branch_name: "master"
  debian_build {
    archive_description: "Builds without any changes"
    build_distribution: "unchanged"
    build_suffix: "jan+unchanged"
    base_distribution: "unstable"
  }
}

suite {
  name: "fresh-releases"
  branch_name: "new-upstream"
  debian_build {
    archive_description: "Builds with new upstream versions merged"
    build_distribution: "fresh-releases"
    build_suffix: "jan+nur"
    base_distribution: "unstable"
  }
}

suite {
  name: "fresh-snapshots"
  branch_name: "new-upstream-snapshot"
  debian_build {
    archive_description: "Builds with new upstream snapshots merged"
    build_distribution: "fresh-snapshots"
    build_suffix: "jan+nus"
    base_distribution: "unstable"
  }
}

suite {
  name: "multiarch-fixes"
  branch_name: "multiarch-fixes"
  debian_build {
    archive_description: "Build of multi arch fixes"
    build_distribution: "multiarch-fixes"
    build_suffix: "jan+maf"
    base_distribution: "unstable"
  }
}

suite {
  name: "uncommitted"
  branch_name: "uncommitted"
  debian_build {
    archive_description: "Builds of packages missing in VCS"
    build_distribution: "uncommitted"
    build_suffix: "jan+unc"
    base_distribution: "unstable"
  }
}

suite {
  name: "debianize"
  branch_name: "debianize"
  debian_build {
    archive_description: "Automatic packaging of upstream branches"
    build_distribution: "debianize"
    build_suffix: "jan+deb"
    base_distribution: "unstable"
  }
}

suite {
  name: "upstream-unchanged"
  branch_name: "upstream-unchanged"
  generic_build {
    chroot: "unstable-amd64-sbuild"
  }
}

oauth2_provider {
  client_id: "some-client-id"
  client_secret: "totally-secret"
  base_url: "https://gitlab.com"
  qa_reviewer_group: "janitor-team/qa-reviewers"
  admin_group: "janitor-team/admins"
}
