{% extends "layout.html" %}
{% block sidebar %}
    {% include [campaign + "/sidebar.html", "generic/sidebar.html"] %}
{% endblock sidebar %}
{% block page_title %}
    {{ campaign }} - Candidates
{% endblock page_title %}
{% block body %}
    <div class="section" id="candidates">
        <h1>{{ campaign }} - Candidates</h1>
        <p><em>Codebases the Janitor has identified as candidates for this campaign.</em></p>
        {% if candidates %}
            <ul>
                {% for codebase, value in candidates %}
                    <li>
                        <a href="/{{ campaign }}/c/{{ codebase }}/">{{ codebase }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No candidates yet.</p>
        {% endif %}
    </div>
{% endblock body %}
