{% extends "layout.html" %}
{% block page_title %}Apt{% endblock %}
{% block body %}

  <div class="section" id="apt-repositories">
<h1>Apt repositories<a class="headerlink" href="#apt-repositories" title="Permalink to this headline">¶</a></h1>
<p>For each changes that the janitor makes successfully, it publishes the
resulting Debian package.</p>
<p>To use the apt repository, e.g. for lintian fixes, run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">echo</span> <span class="n">deb</span> <span class="n">https</span><span class="p">:</span><span class="o">//</span><span class="n">janitor</span><span class="o">.</span><span class="n">debian</span><span class="o">.</span><span class="n">net</span><span class="o">/</span><span class="n">apt</span> <span class="n">lintian</span><span class="o">-</span><span class="n">fixes</span><span class="o">/</span> <span class="o">&gt;</span> <span class="o">/</span><span class="n">etc</span><span class="o">/</span><span class="n">apt</span><span class="o">/</span><span class="n">sources</span><span class="o">.</span><span class="n">list</span><span class="o">.</span><span class="n">d</span><span class="o">/</span><span class="n">janitor</span><span class="o">.</span><span class="n">list</span>
<span class="n">gpg</span> <span class="o">--</span><span class="n">recv</span><span class="o">-</span><span class="n">keys</span> <span class="mi">6</span><span class="n">F915003D1998D6A</span>
<span class="n">gpg</span> <span class="o">--</span><span class="n">export</span> <span class="mi">6</span><span class="n">F915003D1998D6A</span> <span class="o">|</span> <span class="n">sudo</span> <span class="n">apt</span><span class="o">-</span><span class="n">key</span> <span class="n">add</span> <span class="o">-</span>
<span class="n">apt</span> <span class="n">update</span>
</pre></div>
</div>
<p>Available sections are:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">lintian-fixes</span></code>: fixes created by <a class="reference external" href="https://packages.debian.org/lintian-brush">lintian-brush</a>. These are probably most useful
if you are the maintainer.</li>
<li><code class="docutils literal notranslate"><span class="pre">upstream-releases</span></code>: builds for new upstream releases</li>
<li><code class="docutils literal notranslate"><span class="pre">upstream-snapshots</span></code>: builds for new upstream snapshots (i.e. recent revisions)</li>
</ul>
<p>The repositories are marked as <code class="docutils literal notranslate"><span class="pre">experimental</span></code>, meaning that apt won’t
automatically update to packages in them unless explicitly requested to do so.
To e.g. install the version of <em>offlineimap</em> that’s in the <strong>lintian-fixes</strong> repository, run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">apt</span> <span class="n">install</span> <span class="o">-</span><span class="n">t</span> <span class="n">lintian</span><span class="o">-</span><span class="n">fixes</span> <span class="n">offlineimap</span>
</pre></div>
</div>
<div class="section" id="pinning">
<h2>Pinning<a class="headerlink" href="#pinning" title="Permalink to this headline">¶</a></h2>
<p>Optionally, if you want to track a given package from one of the janitor’s
repositories, add the following to <code class="docutils literal notranslate"><span class="pre">/etc/apt/preferences</span></code> (and see
<a class="reference external" href="https://wiki.debian.orgaptpreferences/">the documentation about apt preferences</a>):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre><span></span><span class="n">Package</span><span class="p">:</span> <span class="n">offlineimap</span>
<span class="n">Pin</span><span class="p">:</span> <span class="n">release</span> <span class="n">a</span><span class="o">=</span><span class="n">upstream</span><span class="o">-</span><span class="n">releases</span>
<span class="n">Pin</span><span class="o">-</span><span class="n">Priority</span><span class="p">:</span> <span class="mi">800</span>
</pre></div>
</div>
</div>
</div>
{% endblock %}
