{% extends "layout.html" %}
{% block page_title %}Credentials{% endblock %}
{% block body %}
  <div class="section" id="credentials">
<h1>Credentials<a class="headerlink" href="#credentials" title="Permalink to this headline">¶</a></h1>
<div class="section" id="user-accounts-on-hosting-sites">
<h2>User accounts on hosting sites<a class="headerlink" href="#user-accounts-on-hosting-sites" title="Permalink to this headline">¶</a></h2>
<blockquote>
<div><ul class="simple">
<li><a class="reference external" href="https://github.com/debian-janitor">debian-janitor</a> on <a class="reference external" href="https://github.com/">GitHub</a></li>
<li><a class="reference external" href="https://launchpad.net/~debian-janitor">debian-janitor</a> on <a class="reference external" href="https://launchpad.net/">Launchpad</a></li>
<li><a class="reference external" href="https://gitlab.com/debian-janitor">debian-janitor</a> on <a class="reference external" href="https://gitlab.com/">GitLab</a></li>
<li><a class="reference external" href="https://salsa.debian.org/janitor-bot-guest">janitor-bot-guest</a> on <a class="reference external" href="https://salsa.debian.org/">Salsa</a></li>
</ul>
</div></blockquote>
</div>
<div class="section" id="pgp">
<h2>PGP<a class="headerlink" href="#pgp" title="Permalink to this headline">¶</a></h2>
<div class="code highlight-default notranslate"><div class="highlight"><pre>pub   rsa3072 2018-12-23 [SC] [expires: 2020-12-22]
      C5C8 0071 8CFD E816 41AA  CDCE 6F91 5003 D199 8D6A
uid           [ultimate] Debian Janitor &lt;jelmer+janitor@jelmer.uk&gt;
sub   rsa3072 2018-12-23 [E] [expires: 2020-12-22]
</pre></div>
</div>
</div>
<div class="section" id="ssh">
<h2>SSH<a class="headerlink" href="#ssh" title="Permalink to this headline">¶</a></h2>
<div class="code highlight-default notranslate"><div class="highlight"><pre>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC1HCZuV7baRlZE3/7KgrXTgpaRYWDoWFBNq8ai0CMn0ZjAFJABwMqx0tsSeDW61tSd4+ocpWGtT2X5N1W+Cz+JH/lXogikpYeQgtKexb6LLXpdpbt8mVVwUw8jrRe4HMcR59sAJh0m7d3EvuR0P1ejgk5JsIpsw/FSoJmB4sf/M6ENS2jZB4ZPsdC5EWagI9BQyPQc9vF9qVC499qxBIJL7UUQqJzr/M8uqI8ZasTKj9LO2tW077j2zJ+Ovt85cLN0TFLp5yJCvB5oH/T2/LHLOxsgJqxobOIxm0wl7/zSM+aQtkzdIsZpZBqUb/2dd4S9O+tQYVuWpahpTnRlmpQ7 janitor@niniane
</pre></div>
</div>
</div>
</div>
{% endblock %}
