{% extends "layout.html" %}
{% block page_title %}Cupboard{% endblock %}
{% block body %}
  <div class="section" id="the-debian-janitor">
<h1>Cupboard<a class="headerlink" href="#the-debian-janitor" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="http://janitor.debian.net/cupboard/queue.html">Queue</a></li>
<li class="toctree-l1"><a class="reference internal" href="http://janitor.debian.net/cupboard/history.html">History</a></li>
<li class="toctree-l1"><a class="reference internal" href="http://janitor.debian.net/cupboard/result-codes/index.html">Result Codes</a></li>
</ul>
</div>
</div>
{% endblock %}
