{% extends "layout.html" %}
{% block page_title %}Cupboard - History{% endblock %}
{% block body %}
 <div class="section" id="history">
<h1>History</h1>
<p>Last {{ count }} runs:</p>
<table class="docutils" border="1">
<colgroup>
<col width="41%">
<col width="6%">
<col width="4%">
<col width="49%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Package</th>
<th class="head">Command</th>
<th class="head">Duration</th>
<th class="head">Result</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/jebl2">jebl2</a></td>
<td>lintian-brush</td>
<td>0m10s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/jebl2/8acbf9ec-5357-4e2b-8252-414ff4a68a44/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/guidata">guidata</a></td>
<td>lintian-brush</td>
<td>0m08s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/guidata/688d5e13-f1be-439f-a960-580056c34eff/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-scada-client">golang-github-hashicorp-scada-client</a></td>
<td>lintian-brush</td>
<td>0m06s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-scada-client/1a08b914-2138-4500-8de3-001cb1877974/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-raft-boltdb">golang-github-hashicorp-raft-boltdb</a></td>
<td>lintian-brush</td>
<td>0m08s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-raft-boltdb/f26fc58f-066f-4f15-8a64-fa362c163e32/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-mdns">golang-github-hashicorp-mdns</a></td>
<td>lintian-brush</td>
<td>0m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-mdns/5b024460-ad55-4a5c-a43b-16be7b4eb554/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-hil">golang-github-hashicorp-hil</a></td>
<td>lintian-brush</td>
<td>0m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-hil/8ccbe120-ed1e-4c24-90e4-91eff246d1b3/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-go-reap">golang-github-hashicorp-go-reap</a></td>
<td>lintian-brush</td>
<td>0m06s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-hashicorp-go-reap/2d2cbe61-3933-4afd-a11e-649ab69263a4/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/globjects">globjects</a></td>
<td>lintian-brush</td>
<td>0m20s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/globjects/954dda5d-fcb1-4be4-b396-6718ce3d9e56/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/flann">flann</a></td>
<td>lintian-brush</td>
<td>0m09s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/flann/447febec-6de1-48a7-a22e-88543ff9c565/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/dune-geometry">dune-geometry</a></td>
<td>lintian-brush</td>
<td>0m09s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dune-geometry/a97466e9-3fb0-4c64-a17d-42609d547e45/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/dune-functions">dune-functions</a></td>
<td>lintian-brush</td>
<td>0m06s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dune-functions/48006a53-d8c6-4c91-af0f-cc5f3e6fb159/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/cvxopt">cvxopt</a></td>
<td>lintian-brush</td>
<td>0m12s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/cvxopt/9385f644-a031-43f1-bf5f-202cdb05e347/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/collada-dom">collada-dom</a></td>
<td>lintian-brush</td>
<td>0m31s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/collada-dom/0eb3e31b-1185-44de-8e45-425585651031/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/coinutils">coinutils</a></td>
<td>lintian-brush</td>
<td>0m12s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/coinutils/1ca9380f-a6d2-43f8-9a55-aca4932f696d/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/apophenia">apophenia</a></td>
<td>lintian-brush</td>
<td>0m11s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/apophenia/84cfc220-6169-4661-86a8-1707bcc6ec95/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-mem">node-mem</a></td>
<td>lintian-brush</td>
<td>0m11s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-mem/e14ed45a-dad8-4f9f-9573-1ab02c94e36a/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-jju">node-jju</a></td>
<td>lintian-brush</td>
<td>0m09s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-jju/21b67d2e-3aa6-45b9-aaff-dc3e17fcb16e/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-is-plain-obj">node-is-plain-obj</a></td>
<td>lintian-brush</td>
<td>0m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-is-plain-obj/ef1a635b-e1c1-4a3b-a66c-5a98c83ee4dd/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-inflight">node-inflight</a></td>
<td>lintian-brush</td>
<td>0m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-inflight/9ee921c7-75c3-4773-871a-0956827f779c/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-extract-text-webpack-plugin">node-extract-text-webpack-plugin</a></td>
<td>lintian-brush</td>
<td>0m09s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-extract-text-webpack-plugin/03554442-0f6c-478e-b466-21a64c9eda18/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-death">node-death</a></td>
<td>lintian-brush</td>
<td>0m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-death/fa5b74a4-21e8-455e-8ea9-7062cbb24b4e/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-bkaradzic-go-lz4">golang-github-bkaradzic-go-lz4</a></td>
<td>lintian-brush</td>
<td>0m06s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-github-bkaradzic-go-lz4/ae3ca4a5-89d9-426b-8a6c-0149490dd873/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/edge-addition-planarity-suite">edge-addition-planarity-suite</a></td>
<td>lintian-brush</td>
<td>0m14s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/edge-addition-planarity-suite/8835b81f-d1ec-4c44-b572-62e6762add43/">nothing-to-do</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/petsc">petsc</a></td>
<td>lintian-brush</td>
<td>45m24s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/petsc/1f0f5025-6c19-49f8-8523-78985741c0d1/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/gazebo">gazebo</a></td>
<td>lintian-brush</td>
<td>40m21s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/gazebo/a2011d4e-f63d-4ecb-96c3-2fca7dd7eda7/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/cimg">cimg</a></td>
<td>new-upstream</td>
<td>22m45s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/cimg/8de1f0bc-0a99-4258-b784-8bec0e7b972a/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/fw4spl">fw4spl</a></td>
<td>lintian-brush</td>
<td>32m06s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/fw4spl/8c5d33ec-18b7-4d8c-b180-6be7473d7a21/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/lammps">lammps</a></td>
<td>lintian-brush</td>
<td>4m22s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/lammps/ce8cd428-0e0c-4c33-814c-4ce09ec8e0ee/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/dolfin">dolfin</a></td>
<td>lintian-brush</td>
<td>32m53s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dolfin/3c308a16-18c4-44bc-b1be-be744efcb8bb/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/emboss">emboss</a></td>
<td>lintian-brush</td>
<td>19m59s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/emboss/8e290bd8-3280-48ca-8ac1-77b32eca3a11/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/suitesparse">suitesparse</a></td>
<td>lintian-brush</td>
<td>30m31s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/suitesparse/e03ffc5b-4b87-4502-b8a5-62f4a415a5f6/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/meshlab">meshlab</a></td>
<td>lintian-brush</td>
<td>23m57s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/meshlab/397758fc-f3f6-4f15-bb20-2beecff266fc/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/getfem++">getfem++</a></td>
<td>lintian-brush</td>
<td>24m13s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/getfem++/ef9d608a-5f67-49d9-a6a8-9581b243d224/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/code-saturne">code-saturne</a></td>
<td>lintian-brush</td>
<td>13m02s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/code-saturne/bdb61c7c-0282-422e-aa75-5094e2f6bf76/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-azure">python-azure</a></td>
<td>new-upstream</td>
<td>21m39s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-azure/94bfecc5-d75f-4afb-aff5-6618adf1f3ba/">build-failed-stage-build</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/fftw3">fftw3</a></td>
<td>lintian-brush</td>
<td>12m20s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/fftw3/7d312914-f941-4725-b825-ba543f2885d7/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/dcmtk">dcmtk</a></td>
<td>lintian-brush</td>
<td>12m22s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dcmtk/9c5a2269-6d12-4cb2-a746-578cd92af2e1/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/superlu-dist">superlu-dist</a></td>
<td>lintian-brush</td>
<td>17m32s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/superlu-dist/9371b5bb-5cb8-4907-9112-cb1781f46933/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/singular">singular</a></td>
<td>lintian-brush</td>
<td>16m55s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/singular/3d27ad42-84a2-4327-858b-0d09d9347b1b/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/simbody">simbody</a></td>
<td>lintian-brush</td>
<td>22m57s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/simbody/197607f6-63d3-436e-9848-c71f32896917/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/rheolef">rheolef</a></td>
<td>lintian-brush</td>
<td>19m15s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/rheolef/42ee9a00-6a47-4712-b7aa-ecf32e868235/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-qt4">python-qt4</a></td>
<td>lintian-brush</td>
<td>21m25s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-qt4/5b58186a-6a3c-4615-80d2-5de7f2dffc3f/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/mumps">mumps</a></td>
<td>lintian-brush</td>
<td>16m46s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/mumps/5b516e2c-0981-4abd-8106-bd7f2da48cec/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/med-fichier">med-fichier</a></td>
<td>lintian-brush</td>
<td>16m57s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/med-fichier/8ed0bc9f-32ac-4592-9a48-d7e36e690ff5/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/kido">kido</a></td>
<td>lintian-brush</td>
<td>20m05s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/kido/1b904723-6f8b-4f0b-a37d-a2d87ea89560/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/inventor">inventor</a></td>
<td>lintian-brush</td>
<td>12m39s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/inventor/f8509806-cb7e-4e34-94c1-298080171755/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/flint">flint</a></td>
<td>lintian-brush</td>
<td>29m58s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/flint/db669d75-b2ac-4ef8-ba48-21fd06a862d0/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/dx">dx</a></td>
<td>lintian-brush</td>
<td>17m14s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dx/1c7b19b6-0a81-444a-bf80-6d8ee5046db3/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/cimg">cimg</a></td>
<td>lintian-brush</td>
<td>19m00s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/cimg/9ae1a487-85cc-46e4-9386-535ceb0e57f4/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/kivy">kivy</a></td>
<td>lintian-brush</td>
<td>12m04s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/kivy/cb9ee556-4a0f-49a5-9eff-919ad0e9e792/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/golang-gopkg-olivere-elastic.v2">golang-gopkg-olivere-elastic.v2</a></td>
<td>lintian-brush</td>
<td>21m04s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/golang-gopkg-olivere-elastic.v2/6889550d-5dee-4237-a15f-5da03cfa21fc/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/dune-grid">dune-grid</a></td>
<td>lintian-brush</td>
<td>0m03s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dune-grid/f3e01ee9-953d-450f-93be-36a9563cde38/">before-quilt-error</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/3depict">3depict</a></td>
<td>lintian-brush</td>
<td>4m51s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/3depict/7b048171-06eb-49fd-9e3b-9d06dc44234f/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-mne">python-mne</a></td>
<td>new-upstream</td>
<td>5m18s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-mne/cd66c704-b75e-4ef9-9003-30e8ce1e890c/">previous-upstream-missing</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/mothur">mothur</a></td>
<td>new-upstream</td>
<td>7m18s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/mothur/d46c323f-e8a8-43de-8d46-9df709d841e5/">upstream-merged-conflicts</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/wxastrocapture">wxastrocapture</a></td>
<td>lintian-brush</td>
<td>6m26s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/wxastrocapture/6963e0b0-66ae-421d-ad49-c948f8af13cb/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-asyncssh">python-asyncssh</a></td>
<td>lintian-brush</td>
<td>6m17s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-asyncssh/aa373dd5-eac5-41bc-9915-5288ba685a3c/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/vlfeat">vlfeat</a></td>
<td>lintian-brush</td>
<td>11m21s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/vlfeat/67335745-2225-4b67-b53e-de8201568205/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/texmaker">texmaker</a></td>
<td>lintian-brush</td>
<td>7m23s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/texmaker/e3e2c198-55c1-4a70-a76e-18bd9d91ee42/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/sympy">sympy</a></td>
<td>lintian-brush</td>
<td>9m37s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/sympy/f4db11a0-5116-4379-90eb-736037d60ea7/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/spglib">spglib</a></td>
<td>lintian-brush</td>
<td>5m04s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/spglib/adf2d384-4232-4f03-8752-a23939e2262d/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/sollya">sollya</a></td>
<td>lintian-brush</td>
<td>8m14s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/sollya/4cbed841-3555-4746-adb8-cecb55528f29/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/slepc">slepc</a></td>
<td>lintian-brush</td>
<td>14m42s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/slepc/42bf4a2c-00bc-4aa5-982c-a434ac621c5f/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/sdformat">sdformat</a></td>
<td>lintian-brush</td>
<td>5m33s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/sdformat/e1af6a9b-e434-4df7-8271-4f3c98c5c2a7/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/rivet">rivet</a></td>
<td>lintian-brush</td>
<td>10m45s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/rivet/230c0eb3-86aa-4f14-b984-d8392e7b1f2f/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/qscintilla2">qscintilla2</a></td>
<td>lintian-brush</td>
<td>0m28s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/qscintilla2/788c7753-b005-46ad-bb35-6549e192354c/">nothing-to-do</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/qelectrotech">qelectrotech</a></td>
<td>lintian-brush</td>
<td>9m53s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/qelectrotech/d89a4aa8-a043-4617-85a8-0ecdeffdf940/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/pyzmq">pyzmq</a></td>
<td>lintian-brush</td>
<td>10m01s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/pyzmq/ad817961-5ce2-42c2-875c-90cc7853bace/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-scrapy">python-scrapy</a></td>
<td>lintian-brush</td>
<td>11m21s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-scrapy/500fd455-66b4-46d1-9411-d3449507672c/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-passlib">python-passlib</a></td>
<td>lintian-brush</td>
<td>5m43s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-passlib/4cdefdec-53ab-4470-9b2b-6a49710e705d/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/pythonmagick">pythonmagick</a></td>
<td>lintian-brush</td>
<td>5m27s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/pythonmagick/df313a0d-2f3e-4032-9a27-824bf0577a47/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-fisx">python-fisx</a></td>
<td>lintian-brush</td>
<td>11m37s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-fisx/598901ee-9ae0-43e3-8254-d9a4e7d69b7c/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/python-csb">python-csb</a></td>
<td>lintian-brush</td>
<td>7m46s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/python-csb/2151f7dc-677e-4459-9f13-c2b4249079fd/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/prank">prank</a></td>
<td>lintian-brush</td>
<td>7m11s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/prank/b9c4d5dd-13a0-4617-8461-ea18f0cb24c6/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/petsc4py">petsc4py</a></td>
<td>lintian-brush</td>
<td>10m20s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/petsc4py/b4145317-8069-4a1f-bc35-2429a853b5a0/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/node-webpack">node-webpack</a></td>
<td>lintian-brush</td>
<td>5m55s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/node-webpack/8cf4dda6-dbb4-4849-b0cc-7b28dfa86faf/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/infernal">infernal</a></td>
<td>lintian-brush</td>
<td>9m26s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/infernal/331807ed-3da4-424d-8ebf-c3e50be525ad/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/moksha.hub">moksha.hub</a></td>
<td>lintian-brush</td>
<td>8m11s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/moksha.hub/fab71942-a45b-46c6-a729-c47ecb1a0c2d/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/moksha.common">moksha.common</a></td>
<td>lintian-brush</td>
<td>7m50s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/moksha.common/fb735f32-b1a6-47dc-b5f5-143d8cd99455/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/metastudent-data">metastudent-data</a></td>
<td>lintian-brush</td>
<td>11m56s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/metastudent-data/3cfafcbe-db7f-4019-b650-64856a9d5049/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/metastudent">metastudent</a></td>
<td>lintian-brush</td>
<td>5m21s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/metastudent/932b0fb0-62ef-4516-8d33-5b7ed54f76f7/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/maffilter">maffilter</a></td>
<td>lintian-brush</td>
<td>4m01s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/maffilter/3fc197e7-5610-4723-8c05-77a895c598fc/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/liblemon">liblemon</a></td>
<td>lintian-brush</td>
<td>7m32s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/liblemon/d3e4cbeb-a16f-41ab-93f5-e31384397b6f/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/libjs-extjs">libjs-extjs</a></td>
<td>lintian-brush</td>
<td>3m44s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/libjs-extjs/969d9fc0-d744-4c4e-b794-cbee41b98479/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/libcloud">libcloud</a></td>
<td>lintian-brush</td>
<td>8m14s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/libcloud/150a90ff-953b-4702-822b-9f8918e03530/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/lapack">lapack</a></td>
<td>lintian-brush</td>
<td>14m57s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/lapack/dc450414-4321-45db-9621-dbf82936cc62/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/genometools">genometools</a></td>
<td>lintian-brush</td>
<td>8m57s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/genometools/cac5708a-a29b-44fb-936d-863cacbaf54a/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/flint-arb">flint-arb</a></td>
<td>lintian-brush</td>
<td>8m25s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/flint-arb/fc56d579-a559-42f5-864b-535dbb16f633/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/dicom3tools">dicom3tools</a></td>
<td>lintian-brush</td>
<td>8m51s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/dicom3tools/e1495888-8d76-455a-9231-e242528dbdc0/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/libchado-perl">libchado-perl</a></td>
<td>lintian-brush</td>
<td>3m44s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/libchado-perl/4079b5ef-e5fd-4bdb-b8c9-eb0e97df762b/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/ldb">ldb</a></td>
<td>lintian-brush</td>
<td>6m14s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/ldb/14bc5242-bb48-49e4-bd12-59e9ae657732/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/jsurf-alggeo">jsurf-alggeo</a></td>
<td>lintian-brush</td>
<td>6m04s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/jsurf-alggeo/8e8572f8-9ffb-4c86-99a5-51db90c5cbcd/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/jpy">jpy</a></td>
<td>lintian-brush</td>
<td>2m22s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/jpy/84f21d17-3f3f-447c-8186-850391ec874c/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/jhdf">jhdf</a></td>
<td>lintian-brush</td>
<td>2m23s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/jhdf/13459d4c-e62c-4a39-8fff-eead289b7ec4/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/jebl2">jebl2</a></td>
<td>lintian-brush</td>
<td>1m26s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/jebl2/4d024cd3-fcb1-44a8-818e-7f7603231883/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/ignition-common">ignition-common</a></td>
<td>lintian-brush</td>
<td>2m31s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/ignition-common/92793545-b913-4ccc-86fe-d258ee552866/">success</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/hisat2">hisat2</a></td>
<td>lintian-brush</td>
<td>6m07s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/hisat2/93c2ae54-50b5-47a7-b4ca-ec589c087a03/">autopkgtest-missing-python-dep</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/h5py">h5py</a></td>
<td>lintian-brush</td>
<td>8m40s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/h5py/e99c63a6-f7bd-4e90-bb25-360366f11956/">build-failed-stage-autopkgtest</a></td>
</tr>
<tr class="row-even"><td><a class="reference external" href="http://janitor.debian.net/pkg/gwyddion">gwyddion</a></td>
<td>lintian-brush</td>
<td>6m38s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/gwyddion/a70b6c07-5791-4228-a24a-8383592f1245/">success</a></td>
</tr>
<tr class="row-odd"><td><a class="reference external" href="http://janitor.debian.net/pkg/guiqwt">guiqwt</a></td>
<td>lintian-brush</td>
<td>5m39s</td>
<td><a class="reference external" href="http://janitor.debian.net/pkg/guiqwt/c99c03c7-c1bd-4687-a180-aa027ddcb6ca/">success</a></td>
</tr>
</tbody>
</table>
{% endblock %}
