[Unit]
Description=Differ for the Janitor

StartLimitIntervalSec=90
StartLimitBurst=3

[Service]
User={{ janitor_user }}
Type=simple
WorkingDirectory={{ janitor_home }}
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m janitor.differ --listen-address {{ janitor_differ_address }} --port={{ janitor_differ_port }} --config={{ janitor_conf_path }} --cache-path={{ janitor_differ_cache_path }} --runner-url={{ janitor_runner_url }}
Restart=on-failure
RestartSec=90s

[Install]
WantedBy=default.target
