html {
  font-size: 1.2rem;
}

body {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  font-family: Open Sans,Arial,sans-serif;
  background-color: white;
  color: #999999 !important;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  counter-reset: sidenote-counter;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HELPERS */

.center {
  text-align: center;
}

.img-centered {
  margin: 0 auto;
  display: block;
}

.p-none {
  padding: 0;
}

.mt-none {
  margin-top: 0;
}

.mb-none {
  margin-bottom: 0;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}




/* NAVIGATION */

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav li>a:focus, .nav li>a:hover {
  text-decoration: none;
  border: 1px solid #008690;
  background-color: transparent;
}

ul.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #ffffff !important;
}

.navbar-inverse {
  background-color: transparent;
}

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 50px;
}

.nav li {
  color: white;
}

.navbar-nav {
  margin:  8px;
}

.navbar-inverse .navbar-nav > li > a {
  border-radius: 10px !important;
  display: inline !important;
  padding: 10px 10px !important;  
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: normal;
  color: #fff
}

.navbar-inverse .navbar-nav li > a:hover {
  background-color: transparent;
  transition: 0.7s all linear;
  height: 100%;
}

.navbar-inverse .navbar-toggle {
  border: 1px solid #fff;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 15px;
  margin-bottom: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.navbar-toggle:hover {
  border: 1px solid #008690;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: transparent;
}



/* CONTENT */

aside {
  overflow-y: auto;
  position: fixed;
  float: left;
  width: 50%;
  min-height: 100%;
  height: 100%;
  margin-right: 30px;
  padding-right: 15px;
  background-color: #68286a;
  background: url('/_static/images/Robot.svg'); background-position: center bottom; background-repeat: no-repeat;
  /* FF3.6-15 */
  background: url('/_static/images/Robot.svg'), -moz-linear-gradient(45deg, #68286a 0%, #322c5d 100%, #207cca 100%, #322c5d 100%);; background-position: center bottom; background-repeat: no-repeat;
  /* Chrome10-25,Safari5.1-6 */
  background: url('/_static/images/Robot.svg'), -webkit-linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);; background-position: center bottom; background-repeat: no-repeat;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: url('/_static/images/Robot.svg'), linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);; background-position: center bottom; background-repeat: no-repeat;
  /* IE6-9 fallback on horizontal gradient */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68286a', endColorstr='#322c5d',GradientType=1 );
  border: none;
}

aside.admin {
  overflow-y: auto;
  position: fixed;
  float: left;
  width: 40%;
  min-height: 100%;
  height: 100%;
  margin-right: 30px;
  padding-right: 15px;
  background: #68286a;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #68286a 0%, #322c5d 100%, #207cca 100%, #322c5d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);
  /* IE6-9 fallback on horizontal gradient */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68286a', endColorstr='#322c5d',GradientType=1 );
}

aside.dev {
  overflow-y: auto;
  position: fixed;
  float: left;
  width: 40%;
  min-height: 100%;
  height: 100%;
  margin-right: 30px;
  padding-right: 15px;
  background: #68286a;
  /* FF3.6-15 */
  background: -moz-linear-gradient(45deg, #68286a 0%, #322c5d 100%, #207cca 100%, #322c5d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(45deg, #68286a 0%,#322c5d 100%,#207cca 100%,#322c5d 100%);
  /* IE6-9 fallback on horizontal gradient */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68286a', endColorstr='#322c5d',GradientType=1 );
}

.content {
  width: 50%;
  float: right;
  padding-left: 20px;
}

.content-inside {
  width: 60%;
  float: right;
  padding-left: 20px;
}

hr.bottom {
  margin: 20px 0px;
  color: #ebebeb;
}

h1 {
  color: #68286a;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  text-align: left;
  line-height: 1.1;
}

h2 {
  font-style: normal;
  font-weight: 400;
  margin-top: 2.4rem;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 0;
  line-height: 1;
}

h1.subtitle {
  font-style: normal;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  display: block;
  line-height: 1;
}

h1.institute {
  font-style: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  display: block;
  line-height: 1;
  border: none;
  margin-left: -10px;
}

h3.date {
  font-style: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: block;
  line-height: 1;
}             

.numeral {
  font-family: et-book;
}

.danger {
  color: red;
}

#header { 
  width: 100%;
  position: relative;
  padding: 3rem 6rem 0;
}

#header .header-row{ 
  display: table-row;
  clear: both;
}

#header h1 {
  border-left: 10px solid #68286a;
  padding-left: 15px;
  color: #008690;
}

#header .header-logo img {
  top: 0;
  margin: 15px 15px 15px 0;
  position: relative;
  transition: all 0.3s ease;
  -webkit-transition:  all 0.3s ease;
  -moz-transition:  all 0.3s ease;
}

.header-logo {
  float: left;
  position: relative;
}  



.header { 
  float: left;
  width: 40%;
}

.header-img {
  background: #f7f7f7;
  margin: 0 -20px 0 -15px;  
}

.header-column {
  padding: 2rem 6rem 0;
}

div.sponsors {
  margin: 20 0;
  width: 100%;
  text-align: center;
}

div.logo {
  width: 33%;
  float: left;
  text-align: center;
  padding-bottom: 30px;
}

article {
  position: relative;
  padding: 5rem 0rem;
}

section {
  padding-top: 12rem;
  padding-bottom: 10rem;
  padding-right: 6rem;
  padding-left: 6rem;
}

p, ol, ul {
  font-size: 1rem;
  font-weight: 300;
}

p {
  line-height: 1.6rem;
  margin-top: 1.4rem;
  margin-bottom: 2.2rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0;
}

div.epigraph > blockquote { margin-top: 3em;
                            margin-bottom: 3em;
}

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic;
}

div.epigraph > blockquote > footer { font-style: normal;
}

div.epigraph > blockquote > footer > cite { font-style: italic;
}

/* end chapter epigraphs styles */

blockquote { border-left: 4px solid #cccccc;
             font-size: 1.4rem;
             font-style: italic;
             margin: 2rem 0;
             padding-left: 2rem;
             padding-right: 2rem;
}

blockquote p { padding-bottom: 6px;
}

blockquote footer { font-size: 1.1rem;
                    text-align: right;
}

ol, ul { padding-left: 2rem;
         -webkit-padding-start: 5%;
         -webkit-padding-end: 5%;
}

li {
  margin: 0.5rem 0;
}

li p { margin-bottom: 0.5rem;
       margin-top: 0.5rem;
}

figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0;
}

figcaption { text-align: center;
             clear: right;
             margin-top: 20px;
             margin-bottom: 0;
             font-style: italic;
             font-size: 0.8rem;
             line-height: 0.8rem;
             vertical-align: baseline;
             position: relative;
}

figure.fullwidth figcaption { margin-right: 24%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%; } }

a:link::selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                    background: #b4d5fe; }                  

a:link::-moz-selection { text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
                         background: #b4d5fe; }

/* Hide the faux underline */
a img { vertical-align: bottom;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
    height: auto;
}

.sidenote, .marginnote { float: right;
                         clear: right;
                         margin-right: -60%;
                         margin-top: 0;
                         margin-bottom: 0;
                         font-size: 1.1rem;
                         line-height: 1.3;
                         vertical-align: baseline;
                         position: relative;
}

.table-caption { float:right;
                 clear:right;
                 margin-right: -60%;
                 margin-top: 0;
                 margin-bottom: 0;
                 font-size: 1.0rem;
                 line-height: 1.6; }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           font-family: et-book-roman-old-style;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: 1rem;
                         top: -0.5rem;
                         left: 0.1rem; }

.sidenote:before { content: counter(sidenote-counter) " ";
                   top: -0.5rem; }

p, footer, table, div.table-wrapper-small, div.supertable-wrapper > p, div.booktabs-wrapper { }

div.fullwidth, table.fullwidth { }

div.table-wrapper { overflow-x: scroll;
                    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif; }

.sans { font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
        letter-spacing: .03em; }

code, .code { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
              font-size: 1.125rem;
              line-height: 1.6; }

h1 .code, h2 .code, h3 .code { font-size: 0.80em; }

.marginnote .code, .sidenote .code { font-size: 1rem; }

pre.code { padding: 10px;
           font-size: 0.8rem;
           border-radius: 4px;
           background: #002b36;
           font-family: Source Code Pro,monospace;
           font-weight: 600;
           color: #eee8d5;
           margin-bottom: 20px;
          }

pre {
	margin: 0px;
	padding: 0px;
}

.fullwidth { clear:both; }

span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

/* Tables */

table { border-collapse: collapse;
        font-family: Open Sans, "Gill Sans MT", Calibri, sans-serif;
        font-size: 1.125rem;
        margin: 2rem 0; }

th { border-bottom: 2px solid #cccccc;
     font-weight: normal;
     padding: 0.4em 0.8em; }

td { padding: 0.4em 0.8em; }

.author {
  color: #f8bfd9;
  font-size: 1rem;
  font-style: bold;
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 1.6rem;
}

.resume {
  color: #ffffff;
  font-size: 1rem;
  font-style: bold;
  margin-top: 0.4rem;
  margin-bottom: 0;
  font-weight: 100;
  line-height: 1.6rem;
}

section.footnotes ol li, section.footnotes ol li p {
  font-size: 0.8rem;
  line-height: 1rem;
}

@media (max-width: 480px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  aside {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }

  aside.dev {
  position: fixed;
  float: left;
  min-height: 100%;
  height: 100%;
  }

  aside.admin {
  position: fixed;
  float: left;
  min-height: 100%;
  height: 100%;
  }

  div.content {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }

  pre.code {
    overflow-x: scroll;
  }

  section.footnotes ol li p {
    word-break: break-all;
  }
}

.bottom-div {
  position:absolute;
  bottom: 0;
}


div#social-kytos {
  z-index: 100;
  border-top: 0;
  color: #fff;
  background: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;  
  padding: 3rem 6rem 0;
}

.aside-social-text a {
  color: #fff;
  font-weight: 500;
}


#social-kytos .social-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #272a36;
  color: #fff
}

#social-kytos .icon {
  list-style: none;
  margin:  0;
  padding: 0;
}

#social-kytos .icon i {
  top: 2px !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 24px/1 FontAwesome;
  text-rendering: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing:  antialised;
  -moz-osx-font-smoothing: grayscale;
}

.aside-social-text {
  font-size: 0.6rem;
  line-height: 15px
}


footer#footer {
  border-top: 0;
  color: #fff !important;
  background: transparent !important;
  width: 100%;
  position: absolute;
  bottom: 0;  
  padding: 3rem 6rem 0;
  }

  .social-icons a {
    color: #FFF;
  }

}

#footer .footer-border {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: #272a36;
  color: #272a36;
}

#footer .contact i {
  top: 2px !important;
}

.footer-text {
  font-size: 0.6rem;
}

@media (max-width: 480px) {
  aside {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.dev {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.admin {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  div.content {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  div.content-inside {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  p.resume {
    padding-bottom: 2rem !important;
  }
  img.administrator {
    display: none;
  }
  img.developer {
    display: none;
  }   
  section {
    padding: 4rem 2rem !important;
  }  
  #header { 
    padding: 0rem 2rem 0 !important;
  } 
}

@media (min-width: 481px) and  (max-width: 767px) {
  aside {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.dev {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.admin {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  div.content {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  div.content-inside {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  img.administrator {
    display: none;
  }
  img.developer {
    display: none;
  }     
  p.resume {
    padding-bottom: 2rem !important;
  }
  section {
    padding: 4rem 2rem !important;
  }  
  #header { 
    padding: 0rem 2rem !important;
  }  
}

@media (min-width: 768px) and (max-width: 979px) {
  aside {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.dev {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.admin {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  div.content {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  div.content-inside {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  section {
    padding: 6rem 3rem !important;
  } 
  #header { 
    padding: 1rem 3rem !important;
  }  
}

@media (min-width: 980px) and (max-width: 1199px) {
  #header .header-nav-main nav>ul>li>a {
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 13px;
    text-transform: uppercase;
  }
  aside {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.dev {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  aside.admin {
    position: relative;
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
  div.content {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  div.content-inside {
    float: left;
    width: 100%;
    min-height: 100%;
    height: 100%;
    border-left: 0px;
    margin-left: -20px;
  }
  img.administrator {
    display: none;
  }
  img.developer {
    display: none;
  }  
  #header { 
    padding: 2rem 4rem !important;
  }
}
@media (min-width: 1200px) and (max-width: 1366px) {
  img.administrator {
    display: none;
  }
  img.developer {
    display: none;
  }    
  #header { 
    padding: 2rem 4rem !important;
  }
}
