[Unit]
Description=Run

StartLimitIntervalSec=90
StartLimitBurst=3

[Service]
User={{ janitor_user }}
User={{ janitor_user }}
Type=simple
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m janitor.runner --overall-timeout={{ janitor_runner_overall_timeout }} --listen-address={{ janitor_runner_address }} --port={{ janitor_runner_port }} --concurrency={{ janitor_runner_concurrency }} --build-command="sbuild -A -s -v -c {{ janitor_distributions[0]['chroot'] }}" --config={{ janitor_conf_path }} --public-vcs-location={{ janitor_site_external_url }} --backup-directory={{ janitor_runner_backup_directory }}
Restart=on-failure
RestartSec=5min
MemoryAccounting=yes
MemoryHigh=10G
MemoryMax=12G
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=default.target
