/*
 * kytos-sphinx.css
 * ~~~~~~~~~~~~~~~~~~~~
 *
 * Kytos Sphinx stylesheet -- based Bootstrap theme.
 */

/*
 * Imports to aggregate everything together.
 */

@import url("./basic.css");
@import url("./bootstrap/css/bootstrap.min.css");
@import url("./kytos/kytos.css");
@import url("./kytos/solarized-dark.css");
@import url("./kytos/print.css") print;

/*
 * Styles
 */

/*
#5d4796
#5f21b7
#352169

#5d64d0
#58488a
#4A4090
*/

.rst-content dl:not(.docutils) dl.method code.descname,
.rst-content dl:not(.docutils) dl.attribute code.descname {
  color: #4A4090;
}
.rst-content dl:not(.docutils) dl dt {
    margin-bottom: 6px;
    border: none;
    border-left: solid 3px #5d4796;
    background: white;
    color: #352169;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #5d4796;
}

code, .rst-content tt, .rst-content code {
    white-space: nowrap;
    max-width: 100%;
    background: #ebebeb;
    border: solid 1px #5f21b7;
    font-size: 75%;
    padding: 0 5px;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #E74C3C;
    overflow-x: auto;
}

.wy-side-nav-search input[type="text"] {
 border-color: white;
}
.wy-side-nav-search {
  background-color: #4A4090;
}

.wy-nav-top {
  background: #4A4090;
}

a {
  color: #008690;
  text-decoration: none;
  font-weight: 500;
}

code,
.rst-content tt,
.rst-content code {
  border: none;
  color: #00b4c4;
}

.rst-content dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #5d4796;
    color: rgba(255,255,255, 0.5);
    border-top: 3px solid #352169;
    padding: 6px;
    position: relative;
}

.rst-content dl:not(.docutils) code.descclassname {
    display: none;
/*
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: #352169;
*/
}

.rst-content dl:not(.docutils) code.descname {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 100% !important;
    color: white;
    margin: 0px 5px 0px 0px;
}

.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 900px;
    margin: auto;
}

aside.docs-sidebar {
   height: 100vh;
   position: fixed;
   overflow: hidden;
}

div.content {
 float: none;
 width: auto;
}

#kytos-theme-content-container div.figure {
  float: left;
}

#kytos-theme-content-container .highlight {
  padding: 20px;
  border-radius: 5px;
}

#kytos-theme-content-container {
 padding: 5em;
 padding-bottom: 7em;
 margin: 0;
}

#kytos-theme-content-container table th {
  font-weight: bold;
  background: #efefef;
}

#kytos-theme-content-container table tr.row-odd {
  background: #f1f1f1;
}

#kytos-theme-content-container table {
  font-size: 1.2em;
}

#kytos-theme-content-container h3 {
  font-size: 2em;
  border-bottom: 1px solid #68286A;
  color: #68286A;
  margin-top: 2em;
}

#kytos-theme-content-container .box-tutorial h3 {
    line-height: 1.2em;
    margin-top: 0.5em;
    border-bottom: none;
}

#kytos-theme-content-container h4 { color: #000; }

#kytos-theme-content-container strong { color: #68286A; }

#kytos-theme-content-container img.print-ui {
  box-shadow: 0px 0px 10px #000;
  margin: 0.5em;
  padding: 1em;
  background: #333;
}

#sidebar.affix { position: relative; }

div.sphinxsidebar {
    float: none;
    width: auto;
    margin-left: 10%;
    font-size: 110%;
}

.btn-primary {
    color: #fff;
    background-color: #68286a;
    border: none;
}

.btn-primary:hover {
    background-color: #222;
}

.prev-next-nav {
  list-style-type: none;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 40px;
  padding: 0;
}

.prev-next-nav li {
  padding: 10px;
  background: #FFF;
  border: 1px solid #00b4c4;
  opacity: 0.95;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
}

.prev-next-nav li a {
  color: #00b4c4;
}

.prev-next-nav li {
  float: right;
}

.prev-next-nav li:first-child {
  float: left;
}

/* First level of nav */

.sphinxsidebarwrapper p.caption { display: none; }

.bs-sidenav {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  padding-top:    5px;
  padding-bottom: 5px;
  text-shadow: none;
  background-color: none;
  background: none !important;
  border-radius: 0px;
}

.navbar-default {
	background: none;
	border: none;
	border-color: none;
}

#sidebar h1 {
  text-align:  left;
  color: #51B1CA;
  border-left: 10px solid #68286A;
  font-size: 1.9rem;
  font-weight: bold;
  padding-left: 0.3em;
  margin: 1em;
  margin-left: 2em;
  word-break: break-word;
  text-transform: uppercase;
}

.sidebar-header {
  padding: 1em;
  margin: 0px;
  float: none;
  justify-content: center;
}

/* All levels of nav */
.bs-sidenav .nav > li > a {
  display: block;
  color: #FFF;
  padding: 2px 5px;
  font-size: 110%;
}
.bs-sidenav .nav > li > a:hover,
.bs-sidenav .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
  color: #51B1CA;
  border-right: none;
  border: none;
}
.bs-sidenav .nav > .current > a,
.bs-sidenav .nav > .active > a,
.bs-sidenav .nav > .active:hover > a,
.bs-sidenav .nav > .active:focus > a {
  color: #51B1CA;
  background-color: transparent;
  border-right: none;
  border: none;
}

.bs-sidenav .nav .nav > li > a {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left: 3px;
  font-size: 100%;
}

.bs-sidenav .nav .nav .nav > li > a {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left: 4px;
  font-size: 90%;
}

.bs-sidenav .nav .nav .nav .nav > li > a {
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-size: 80%;
}

.navbar-brand {
  float: left;
  padding: 0px;
  margin: 0px;
  margin-left: 1em;
}

.navbar-header { float: left; }
.navbar-search { float: right; }

.navbar-toggle { margin-top: 8px; }
.navbar-toggle .icon-bar { background: #FFF; }
.navbar-form { border: none; box-shadow: none; }

.navbar-collapse { margin-right: 15px; }

.navbar-collapse ul {
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
}

.collapse-header { padding-left: 10%; }

.navbar-nav {
    margin: 0px;
    display: inline-block;
    float: right;
}

.navbar-options li {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid transparent;
    font-size: 0.7em;
    opacity: 0.95;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 5px;
}

.navbar-options li {
    border: 1px solid transparent;
}
.navbar-options li.active,
.navbar-options li:hover {
    border: 1px solid #00b4c4; 
}

#search-navbar { 
  position: absolute;
  right: 20px;
  margin-top: 10px;
}

#search-navbar .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 35px;
  height: 36px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search-navbar .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}

#search-navbar .form-group input.form-control::-webkit-input-placeholder,
#search-navbar .form-group input.form-control:-moz-placeholder,
#search-navbar .form-group input.form-control::-moz-placeholder,
#search-navbar .form-group input.form-control:-ms-input-placeholder {
  display: none;
}

#search-navbar .form-group:hover,
#search-navbar .form-group.hover {
  width: 245px;
  border-radius: 5px;
}

#search-navbar .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 37px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #008690;
  left: initial;
  font-size: 15px;
}

#search-navbar .fa-search:before {
  font-size: 1.3em;
  line-height: 1.5em;
}

#DocVersions { text-align: center; }

#DropdownVersions {
  width: auto;
  position: relative;
  display: inline-block;
  margin-right: -15px;
}

.label-versions {
  font-weight: bold;
  line-height: 32px;
  vertical-align: middle;
  color: #999;
  font-size: 0.95em;
}

.dropdown-menu {
  background: #68286a;
  min-width: 100px;
}

.alert,
.admonition {
  padding: 20px;
  border: 2px solid #f8d7da;
  border-radius: 8px;
  border-left: 8px solid #f8d7da;
  background: #fafafa;
}

.admonition.note {
  border-color: #3a87ad;
}

#disclaimer {
  font-size: 1em;
  border: 2px solid #f8d7da;
  padding: 0 1em;
  border-left: 8px solid #f8d7da;
  border-radius: 8px;
  background: #fafafa;
}

#container-sphinx {
  min-height: 60vh;
}

.footer {
 color: #FFF;
 background: #2e373e;
 padding: 5em;
 padding-bottom: 2em;
}

.footer a {
  color: #00b4c4;
  text-decoration: none;
}

.footer a:visited {
  color: #028397;
}

.footer a:active,
.footer a:focus,
.footer a:hover {
  color: #00b4c4;
}

.footer h1, .footer h2 {
  color: #FFF;
  margin-top: 0px;
}

.footer h3 {
  font-weight: bold;
  font-size: 1.6em;
}

.footer hr {
  margin-top: 3em;
  margin-bottom: 1em;
  border-top: 1px solid #EEE;
}

.footer .text-center p {
  line-height: 1rem;
  margin: 0;
  font-size: 0.6rem;
  font-weight: 100;
}

.footer ul {
  list-style: none;
  padding: 0px;
  line-height: 1em;
  margin-top: 1.5em;
  font-size: 0.8rem;
}

.copyright {
  font-size: 1em;
  line-height: 1em;
}

.back-to-top-button {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.back-to-top-button.btn:hover {
  color: #51B1CA;
}

@media (max-width: 990px) {
  aside.docs-sidebar {
    position: relative;
    height: auto;
    padding-bottom: 60px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #68286a 0%,#322c5d 30%,#207cca 30%,#322c5d 30%);
  }
  footer { width: 100%; }
  .navbar-header { margin-top: 7px; }
}

@media (max-width: 451px) {
  div.sphinxsidebar { margin-left: 0px; }
  #sidebar h1 { margin-left: 1em; }
  .sidebar-header { padding-left: 0px; }
  .footer, #kytos-theme-content-container { padding: 2em; }
}

@media (max-width: 769px) {
    #search-navbar,
   .navbar-options.collapsing li,
   .navbar-options.in li:hover,
   .navbar-options.in li { 
    	border: none;
    	border-bottom: 1px solid #151d24;
    	border-radius: none;
    	margin: 0px;
    	padding: 1em;
    	margin-right: -20px;
    	margin-left: -20px;
   }

   #search-navbar,
   .navbar-options.collapsing,
   .navbar-collapse.in {
   	width: 120%;
   	top: 20px;
   	position: relative;
   	margin-left: -8%;
   	text-align: center;
   	background: #2e373e;
   	float: none;
        overflow: hidden;
   }

   .navbar-options.collapsing ul,
   .navbar-collapse.in ul {
   	width: 100%;
   }

   #search-navbar {
      width: 90%;
      display: block;
      position: relative;
      margin: 0px;
      padding: 0px;
      left: 3%;
      top: 0px;
   }

   #search-navbar .form-group:hover,
   #search-navbar .form-group.hover,
   #search-navbar .form-group {
     width: 100%;
     border-radius: 5px;
     margin-top: 15px;
   }
}