[Unit]
Description=Archive

[Service]
Type=simple
EnvironmentFile=/etc/default/janitor
EnvironmentFile=/etc/default/janitor-archiver
ExecStart=python3 -m janitor.archive --dists-directory=$DISTS_DIRECTORY --cache-directory=$CACHE_DIRECTORY --listen-address $INTERNAL_ADDRESS
Restart=on-failure
RestartSec=90s

[Install]
WantedBy=default.target
