[Unit]
Description=Schedule

[Service]
User={{ janitor_user }}
Type=oneshot
WorkingDirectory={{ janitor_code_path }}
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m janitor.policy \
	--config={{ janitor_conf_path}} \
	--policy={% if janitor_policy is defined %}{{ janitor_home }}/policy.conf{% else %}{{ janitor_code_path }}/policy.conf{% endif %} "$@"

[Install]
WantedBy=default.target
