<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>The Debian Janitor &#8212; API</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
      <p>Available JSON API endpoints:</p>

<ul>
    <li>/pkg</li>
    <li>/pkg/{package}/policy</li>
    <li>/pkg/{package}/run</li>
    <li>/pkg/{package}/run/{run_id}</li>
    <li>/pkg/{package}/run/{run_id}/diff</li>
    <li>/pkg/{package}/merge-proposals</li>
    <li>/merge-proposals</li>
    <li>/queue</li>
    <li>/run</li>
    <li>/run/{run_id}</li>
    <li>/package-branch</li>
    <li>/{suite}/published-packages</li>
    <li>/{suite}/pkg/{package}/schedule</li>
    <li>/{suite}/pkg/{package}/diff</li>
    <li>/publish/{publish_id}</li>
    <li>/policy</li>
    <li>/runner/status</li>
    <li>/active-runs</li>
    <li>/active-runs/{id}/log</li>
    <li>/active-runs/{id}/log/{logfile}</li>
    <li>/{suite}/report</li>
</ul>
<p>E.g. to schedule a new run of <i>lintian-brush</i> for <i>cowsay</i>:

<pre>
curl -X POST {{ url.join(URL('lintian-fixes/pkg/cowsay/schedule')) }}
</pre>

</body>
</html>
