{% extends "layout.html" %}
{% block page_title %}Apt{% endblock %}
{% block body %}

  <div class="section" id="apt-repositories">
<h1>Apt repositories</h1>
<p>For each changes that the janitor makes successfully, it publishes the
resulting Debian package.</p>
<p>To use the apt repository, e.g. for lintian fixes, run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>echo deb https://janitor.debian.net/apt lintian-fixes main &gt; /etc/apt/sources.list.d/janitor.list
gpg --recv-keys <span class="mi">6</span>F915003D1998D6A
gpg --export <span class="mi">6</span>F915003D1998D6A | sudo apt-key add -
apt update
</pre></div>
</div>
<p>Available sections are:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">lintian-fixes</span></code>: fixes created by <a class="reference external" href="https://packages.debian.org/lintian-brush">lintian-brush</a>. These are probably most useful
if you are the maintainer.</li>
<li><code class="docutils literal notranslate"><span class="pre">upstream-releases</span></code>: builds for new upstream releases</li>
<li><code class="docutils literal notranslate"><span class="pre">upstream-snapshots</span></code>: builds for new upstream snapshots (i.e. recent revisions)</li>
</ul>
<p>The repositories are marked as <code class="docutils literal notranslate"><span class="pre">experimental</span></code>, meaning that apt won’t
automatically update to packages in them unless explicitly requested to do so.
To e.g. install the version of <em>offlineimap</em> that’s in the <strong>lintian-fixes</strong> repository, run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>apt install -t lintian-fixes offlineimap
</pre></div>
</div>
<div class="section" id="pinning">
<h2>Pinning</h2>
<p>Optionally, if you want to track a given package from one of the janitor’s
repositories, add the following to <code class="docutils literal notranslate"><span class="pre">/etc/apt/preferences</span></code> (and see
<a class="reference external" href="https://wiki.debian.orgaptpreferences/">the documentation about apt preferences</a>):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>Package: offlineimap
Pin: release a=upstream-releases
Pin-Priority: <span class="mi">800</span>
</pre></div>
</div>
</div>
</div>
{% endblock %}
