{% extends "layout.html" %}
{% block page_title %}
    Index
{% endblock page_title %}
{% block body %}
    <div class="section" id="contact">
        <h1>Contact</h1>
        <p>
            For more information about the janitor, see <a href="/about">the about page</a>.
        </p>
        <p>Please contact us:</p>
        <ul>
            <li>
                By e-mail at <a href="mailto:jelmer@jelmer.uk">jelmer@jelmer.uk</a>
            </li>
            <li>
                On IRC in the <a class="reference external" href="irc://irc.oftc.net/#debian-janitor">#debian-janitor IRC channel on irc.oftc.net</a>
            </li>
            <li>
                On Matrix in the <a class="reference external"
    href="https://matrix.to/#debian-janitor:matrix.debian.social">#debian-janitor:matrix.debian.social</a> channel.
            </li>
        </ul>
    </div>
{% endblock body %}
