{% extends "layout.html" %}
{% block page_title %}Credentials{% endblock %}
{% block body %}
  <div class="section" id="credentials">
<h1>Credentials</h1>
<div class="section" id="user-accounts-on-hosting-sites">
<h2>User accounts on hosting sites</h2>
<blockquote>
<div><ul class="simple">
{% for h in hosting %}
<li><a class="reference external" href="{{ h.user_url }}">{{ h.user }}</a> on <a class="reference external" href="{{ h.url }}">{{ h.name }}</a></li>
{% endfor %}
</ul>
</div></blockquote>
</div>
<div class="section" id="pgp">

<h2>PGP</h2>

<p>These can also be downloaded in plain format from <a href="/pgp_keys.asc">/pgp_keys.asc</a></p>

{% macro pgp_flags(k) %}{% if k.can_certify %}C{% endif %}{% if k.can_sign %}S{% endif %}{% if k.can_encrypt %}E{% endif %}{% endmacro %}

{% for k in pgp_keys %}
<div class="code highlight-default notranslate"><div class="highlight">
<pre>pub    [{{ pgp_flags(k) }}] {{ k.fpr }}
{% for uid in k.uids %}uid           [{{ pgp_validity(uid.validity) }}] {{ uid.name }} &lt;{{ uid.email }}&gt;
{% endfor %}{% for sk in k.subkeys %}sub   {{ pgp_algo(sk.pubkey_algo) }}{{ sk.length }} {{ format_pgp_date(sk.timestamp) }} [{{ pgp_flags(sk) }}] {% if sk.expires %}[expires: {{ format_pgp_date(sk.expires) }}]{% endif %}
{% endfor %}
</pre></div>
{% endfor %}
</div>
</div>
<div class="section" id="ssh">
<h2>SSH</h2>

<p>These can also be downloaded in plain format from <a href="/ssh_keys">/ssh_keys</a></p>

<div class="code highlight-default notranslate"><div class="highlight"><pre>{{ ssh_keys|join('\n') }}
</pre></div>
</div>
</div>
</div>
{% endblock %}
