<div class="section" id="faq-multiarch-fixes-lintian">
<h3><a class="toc-backref" href="#id20">Why does lintian show warnings now that multi-arch hints have been added?</a></h3>

<p>In some cases, lintian will issue a <i>dependency-is-not-multi-archified</i>
warning for new multi-arch values added by the janitor based on suggestions from
the multi-arch hinter.</p>

<p>There are two properties of multiarch annotations: Correctness and
usefulness. The hinter emits correct annotations. Lintian complains about
useless annotations. The intersection of correct and useless is non-empty, but
a useless annotation can become useful later by changing a dependency. In order
to move forward as fast as possible, the hinter emits all correct hints
regardless of whether they're useful.
</p>

</div>
