<div class="section" id="how-do-i-apply-multiarch-fixes-locally">
<h3><a class="toc-backref" href="#id16">How do I apply multi-arch fixes locally?</a></h3>
<p>To apply multi-arch fixes locally, simply run <em>apply-multiarch-hints</em>:</p>
<div class="highlight-default"><div class="highlight"><pre><span></span>$ apt install lintian-brush
$ apply-multiarch-hints
</pre></div>
<p>This will download the hints from hinter, apply them and automatically commit the changes to the local repository.</p>
</div>

