<div class="section" id="how-do-i-prevent-the-janitor-from-making-certain-changes">
<h3><a class="toc-backref" href="#id20">How do I prevent the janitor from making certain changes?</a></h3>
<p>You can tweak the behaviour of the janitor for a package by editing the
configuration file (<i>debian/lintian-brush.conf</i>) in the package. For
example, to prevent any changes that are incompatible with <b>oldstable</b>,
add the following contents:</p>

<pre>
compat-release = oldstable
</pre>

<p>(the default <i>compat-release</i> is <b>stable</b>)</p>

<p>For a full list of supported options, see the <a
href="https://dyn.manpages.debian.org/buster/lintian-brush/lintian-brush.conf.5.en.html">lintian-brush.conf(5)</a>
manual page.</p>

<p>These configuration options can also be set on a per-maintainer basis;
please send me a message if you'd like me to do that.</p>

</div>

