<div class="section" id="what-do-i-do-about-out-of-date-proposals">
<h3><a class="toc-backref" href="#id21">What do I do with out-of-date merge proposals?</a></h3>
<p>The Janitor will automatically reschedule processing of packages with a
conflicted merge proposal. Once a conflict appears, it may take a couple of
hours before the merge proposal is updated.</p>

<p>It will also regularly rebase merge proposals on the packaging branch. It
can take several days before this happens, since there is no mechanism to
notify the janitor of new commits. You can manually trigger a rerun
from the package-specific page linked from the merge proposal.
</p>
</div>
