<div class="section" id="this-is-great-how-do-i-get-it-to-automatically-push-improvements-to-my-repository">
<h3><a class="toc-backref" href="#id9">This is great. How do I get it to automatically push improvements to my repository?</a></h3>
<p>Simply give the bot commit access to your repository, and it will push fixes rather than proposing them.</p>

<p>The bot will need permision to push to the relevant branches. For
repositories on a GitLab instances (such as salsa) this means that
it will need developer permissions if the relevant branch is unprotected,
and maintainer permissions if the relevant branch is protected.
See the <a href="https://docs.gitlab.com/ee/user/permissions.html">GitLab permissions guide</a> for details.
</p>
</div>
