{% extends "layout.html" %}
{% from "fresh-util.html" import package_list %}
{% block page_title %}Daily Builds for Debian{% endblock %}
{% block body %}
<div class="section" id="fresh-builds">
<h1>Fresh Builds</h1>
<p>The <a href="/">Debian Janitor</a> regularly updates packages from the
Debian <i>{{ base_distribution }}</i> archive to the latest upstream
releases or Git snapshots.
</p>

<p>Binary packages that are created as part of this process are made available
in apt repository that can be used on a Debian unstable or testing system.</p>

<p>At the moment, packages are only built for the <i>amd64</i> architecture.
There are <i>{{ suite_version['fresh-releases']|length }}</i> source packages with <a href="/fresh-releases">new releases</a>
(last published <i>{{ last_publish_time['fresh-releases'] }}</i>)
and <i>{{ suite_version['fresh-snapshots']|length }}</i> source packages with <a href="/fresh-snapshots">new
snapshots</a> (last published <i>{{ last_publish_time['fresh-snapshots'] }}</i>).</p>

<div class="admonition warning">
<p class="first admonition-title">Warning</p>
<p class="last"><b>USE AT YOUR OWN RISK</b>. The packages in this repository were created automatically, without review
from a human.</p>
</div>
<div class="section" id="using-the-repository">
<h2>Using the repository</h2>
<p>To use the apt repository, run something like:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>echo deb "[arch=amd64]" {{ url.join(URL('..')) }} fresh-releases main &gt; /etc/apt/sources.list.d/fresh-releases.list
curl {{ url.join(URL('../pgp_keys.asc')) }} | sudo apt-key add -
apt update
</pre></div>
For Git snapshots, use <i>fresh-snapshots</i> rather than <i>fresh-releases</i>.
</div>
<p>The repository is marked as <code class="docutils literal notranslate"><span class="pre">experimental</span></code>, meaning that apt won’t
automatically update to packages in them unless explicitly requested to do so.
To e.g. install the version of <em>cifs-utils</em> that’s in this repository, run:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>apt install -t fresh-releases cifs-utils
</pre></div>
</div>
<p>The packages are also versioned in such a way that if the new upstream version
gets uploaded to the official Debian APT repository, it will replace the package
in this archive.</p>
</div>

<div class="section" id="faq">
<h2>FAQ</h2>
<div class="contents local topic" id="contents">
<p class="topic-title first">Contents:</p>
<ul class="simple">
<li><a class="reference internal" href="#requesting-new-packages">How do I request a new package to be built?</a></li>
<li><a class="reference internal" href="#how-much-testing">How are these packages tested?</a></li>
</ul>
</div>

<div class="section" id="requesting-new-packages">
<h3><a class="toc-backref" href="#id7">How do I request a new package to be built?</a></h3>
<p>The easiest way to do this is to go to the <a
href="/fresh-releases/">fresh-releases</a> or <a
href="/fresh-snapshots">fresh-snapshots</a> pages, browsing to the package you
would like to see updated and clicking the "Reschedule" button.
</p>

<p>New builds usually take anywhere from a couple of minutes to a few days to
become available.</p>
</div>

<div class="section" id="how-much-testing">
<h3><a class="toc-backref" href="#id7">How are these packages tested?</a></h3>
<p>Packages that have Debian <a
href="https://people.debian.org/~mpitt/autopkgtest/README.package-tests.html">autopkgtest</a>
tests available are required to successfully
pass those tests before they are included in the repository.</p>

<p>Note that not all packages have tests, and where tests exist they may
not be comprehensive.</p>

<p>No manual testing has been done on these packages - use at your own risk</p>

</div>

</div>

<div class="section" id="package-list">
<h2>Package list</h2>
<p>The following source packages with new upstream releases merged are currently
available:</p>

<table id="apt-package-list" class="docutils display" border="1">
<colgroup>
<col width="48%">
<col width="12%">
<col width="40%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Package</th>
<th class="head">Last Release Imported</th>
<th class="head">Last Snapshot Imported</th>
<th class="head">Version in {{ base_distribution }}</th>
</tr>
</thead>
<tbody valign="top">
{% for source in sources|sort %}
{% set old_version = archive_version[source] %}
{% set release_version = suite_version['fresh-releases'].get(source) %}
{% set snapshot_version = suite_version['fresh-snapshots'].get(source) %}
{% if (release_version and release_version > old_version) or (snapshot_version and snapshot_version > old_version) %}
<tr class="row-even">
  <td>{{ source }}</td>
  <td{% if release_version <= old_version %} class="old-version"{% endif %}>{% if release_version %}<a href="pkg/{{ source }}">{{ release_version.upstream_version }}</a>{% endif %}</td>
  <td{% if snapshot_version <= old_version %} class="old-version"{% endif %}>{% if snapshot_version %}<a href="pkg/{{ source }}">{{ snapshot_version.upstream_version }}</a>{% endif %}</td>
  <td><a href="https://packages.debian.org/source/sid/{{ source }}">{{ old_version.upstream_version }}</a></td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

<script>$(function(){ $('#apt-package-list').DataTable({"order": [[ 0, "asc" ]], "pageLength": 500, "lengthMenu": [100, 200, 500, 1000]}); });</script>
</div>
</div>

{% endblock %}
