{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% from "run_util.html" import display_result_code %}
{% block page_title %}Cupboard - History{% endblock %}
{% block body %}
 <div class="section" id="history">
<h1>History</h1>
<p>For what's coming up, see the <a href="queue">queue</a>.</p>
<p>Last {{ count }} runs:</p>
<table class="docutils" border="1">
<colgroup>
<col width="20%">
<col width="10%">
<col width="4%">
<col width="4%">
<col width="20%">
<col width="40%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Package</th>
<th class="head">Suite</th>
<th class="head">Worker</th>
<th class="head">Duration</th>
<th class="head">Result</th>
<th class="head">Summary</th>
</tr>
</thead>
<tbody valign="top">
{% for run in history %}
<tr class="row-even"><td><a class="reference external" href="pkg/{{ run.package }}">{{ run.package }}</a></td>
<td><a href="/{{ run.suite}}">{{ run.suite }}</a></td>
<td>{% if run.worker_link %}<a href="{{ run.worker_link }}">{{ run.worker_name }}</a>{% else %}{{ run.worker_name }}{% endif %}</td>
<td>{{ format_duration(run.duration) }}</td>
<td><a class="reference external" href="pkg/{{ run.package }}/{{ run.id }}">{{ display_result_code(run.result_code)|safe }}</a></td>
<td>{% if run.result_code != 'success' %}{{ run.description }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
