{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% from "run_util.html" import result_code_explanation, reschedule_button %}
{% block page_title %}Lintian Brush Failures for {{ fixer }}{% endblock %}
{% block body %}
<div class="section" id="{{ fixer }}">
<h1>{{ fixer }}</h1>
<table class="docutils display" id="failed-fixers" border="1">
<colgroup>
<col width="31%">
<col width="5%">
<col width="62%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd">
<th class="head">Package</th>
<th class="head">Finish Time</th>
<th class="head">Description</th>
</tr>
</thead>
<tbody valign="top">
{% for run_id, finish_time, pkg, description in failures %}
<tr>
<td><a class="reference external" href="../pkg/{{ pkg }}/">{{ pkg }}</a><br/> {{ reschedule_button('lintian-fixes', pkg, id='reschedule-' + pkg, accesskey=None) }}</td>
<td>{{ format_timestamp(finish_time) }}</td>
<td><a class="reference external" href="../pkg/{{ pkg }}/{{ run_id }}"><pre>{{ description }}</pre></a></td>
</tr>
{% endfor %}
</tbody>
</table>
<script>$(document).ready(function() {$('#failed-fixers').DataTable({"pageLength": 200, "lengthMenu": [50, 200, 500, 1000, -1], "order": []}); });</script>

</div>
{% endblock %}
