{% extends "layout.html" %}
{% block sidebar %}{% include "lintian-fixes-sidebar.html" %}{% endblock %}
{% from "run_util.html" import display_result_code %}
{% block page_title %}Lintian Fixes Regressions{% endblock %}
{% block body %}
<div class="section" id="lintian-fixes-regressions">
<h1>Lintian Fixes Regressions</h1>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
    <th class="head">Package</th>
    <th class="head">Result code</th>
    <th class="head">Unchanged Run</th>
</tr>
</thead>
<tbody valign="top">
{% for package, lintian_fixes_run_id, unchanged_run_id, result_code in packages %}
<tr class="row-even">
<td><a class="reference external" href="/cupboard/pkg/{{ package }}">{{ package }}</a></td>
<td><a class="reference external" href="/cupboard/pkg/{{ package }}/{{ lintian_fixes_run_id }}">{{ result_code }}</a></td>
<td><a class="reference external" href="/cupboard/pkg/{{ package }}/{{ unchanged_run_id }}">success</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
