{% extends "layout.html" %}
{% block sidebar %}{% include "lintian-fixes-sidebar.html" %}{% endblock %}
{% from "lintian-fixes-util.html" import lintian_tag_link %}
{% block page_title %}Absorbed Lintian Fixes - Statistics{% endblock %}
{% block body %}
<div class="section" id="absorbed-lintian-fixes-stats">
<h1>Lintian Fixes - Statistics</h1>

<div class="absorbed">
<h2>Absorbed Fixes</h2>
<p>Number of fixes that have either been pushed directly by the Janitor, or
have been <a href="/lintian-fixes/merge-proposals">proposed as a merge request
and then merged</a>.</p>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Lintian Tag</th>
  <th class="head">Count</th>
</tr>
</thead>
<tbody valign="top" name="tag-table">
{% for tag, count in by_tag %}
<tr>
    <td>{{ lintian_tag_link(tag) }}</td>
    <td>{{ count }}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
