{% extends "layout.html" %}
{% block sidebar %}{% include "multiarch-fixes-sidebar.html" %}{% endblock %}
{% block page_title %}Applied Multi-Arch Hints - Statistics{% endblock %}
{% block body %}
<div class="section" id="applied-multiarch-hints-stats">
<h1>Multi-Arch Hints - Statistics</h1>

<canvas id="hints-per-run-chart" width="800" height="450"></canvas>
<script>
new Chart($("#hints-per-run-chart"), {
    type: 'bar',
    data: {
       labels: {{ hints_per_run.items()|list|sort|map(attribute=0)|list|tojson }},
       datasets: [{
         label: "Number of hints applied",
         backgroundColor: Chart.helpers.color(window.chartColors.blue).alpha(0.5).rgbString(),
         data: {{ hints_per_run.items()|list|sort|map(attribute=1)|list|tojson }}
       }],
    },
    options: {
      title: { text: "Hints applied per run", display: true },
    },
});
</script>

</div>
</div>
{% endblock %}
