{% extends "layout.html" %}
{% from "run_util.html" import local_command, merge_command, reschedule_button, install_commands with context %}
{% from "new_upstream_util.html" import new_upstream_summary %}
{% block page_title %}New Upstream - {{ package }}{% endblock %}
{% block body %}
<div class="section" id="{{ package }}">
<h1>New Upstream {% if suite == 'new-upstream-snapshots' %}Snapshot{% else %}Release{% endif %} - {{ package }}</h1>

{% if not result_code %}

{% if previous_runs and previous_runs[0].result_code == 'nothing-to-do' %}
Nothing to do for {{ package }}
{% else %}
No successful merges for {{ package }}
{% endif %}

{% else %}

{% if merge_proposals %}
<div class="section" id="recent-merge-proposals">
<h2>Recent merge proposals</h2>
<ul>
{% for url, status in merge_proposals %}
<li><a href="{{ url }}">{{ url }}</a> ({{ status }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

{{ new_upstream_summary(result) }}

{% if changes_name %}
<h2>Resulting package</h2>
<p>Changes filename: <a class="reference external" href="/{{ suite }}/{{ changes_name }}">{{ changes_name }}</a></p>
<p>Built on {{ format_timestamp(finish_time) }} (took {{ format_duration(finish_time - start_time) }})</p>

{{ install_commands(binary_packages, suite) }}

{% endif %}

<div class="section" id="more-details">
<h2>More details</h2>

<p><a href="/cupboard/pkg/{{ package }}/{{ run_id }}">Full run details</a></p>

</div>

{% endif %}

{% if candidate_version %}
<p>A new upstream version is available: <b>{{ candidate_version }}</b></p>
<!-- Candidate value: {{ candidate_value }} -->
{% endif %}

{{ reschedule_button(suite, package, "Schedule a new run", "#commandResult") }}

{{ publish_buttons(suite, package, "#commandResult") }}

<div id="commandResult"></div>

{% if previous_runs and previous_runs[0].result_code not in ('nothing-to-do', 'success') %}
<h3>Historical runs</h3>

<ul>
{% for previous_run in previous_runs %}
{% if previous_run != run %}
<li><a href="/cupboard/pkg/{{ package }}/{{ previous_run.id }}">{{ previous_run.result_code }}: {{ previous_run.description }}</a></li>
{% endif %}
{% endfor %}
</ul>

{% endif %}

</div>
{% endblock %}
