{% extends "layout.html" %}
{% from "run_util.html" import local_command, merge_command, reschedule_button with context %}
{% block page_title %}New Upstream - {{ package }}{% endblock %}
{% block body %}
<div class="section" id="{{ package }}">
<h1>{{ package }}</h1>

{% if not result_code %}

No recent runs for {{ package }}

{% else %}

{% if merge_proposals %}
<div class="section" id="recent-merge-proposals">
<h2>Recent merge proposals</h2>
<ul>
{% for url, status in merge_proposals %}
<li><a href="{{ url }}">{{ url }}</a> ({{ status }})</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if changes_name %}
<h2>Resulting package</h2>
<p>Changes filename: <a class="reference external" href="/{{ suite }}/{{ changes_name }}">{{ changes_name }}</a></p>
<p>Built on {{ finish_time }} (took {{ format_duration(finish_time - start_time) }})</p>

{% if binary_packages %}
<p>Install this package (if you have the <a class="reference external" href="../../">apt repository</a> enabled) by running one of:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
{% for binary_package in binary_packages %}
apt install -t {{ build_distribution }} {{ binary_package }}
{% endfor %}
</pre></div></div>
{% endif %}
{% endif %}

<div class="section" id="more-details">
<h2>More details</h2>

<p><a href="/cupboard/pkg/{{ package }}/{{ run_id }}">Full run details</a></p>

</div>

{% endif %}

{{ reschedule_button(suite, package, "Schedule a new run", "#commandResult") }}

<div id="commandResult"></div>

</div>
{% endblock %}
