{% extends "layout.html" %}
{% from "run_util.html" import display_result_code %}
{% block page_title %}Queue{% endblock %}
{% block body %}
<div class="section" id="queue">
<h1>Queue</h1>

<div name="current">
<h2>Current processing</h2>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Package</th>
  <th class="head">Suite</th>
  <th class="head">Estimated Duration</th>
  <th class="head">Start Time </th>
</tr>
</thead>
<tbody valign="top">
{% for entry in processing %}
<tr>
    <td>{{ entry['package'] }}</td>
    <td>{{ entry['suite'] }}</td>
    <td>{{ format_duration(entry['estimated_duration']) }}</td>
    <td>{{ format_timestamp(entry['start_time']) }}</td>
</tr>
{% endfor %}
</table>
</div>

<div name="queue">
<h2>Coming up</h2>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Package</th>
  <th class="head">Command</th>
  <th class="head">Estimated duration</th>
  <th class="head">Last Run</th>
</tr>
</thead>
<tbody valign="top">
{% for pkg, suite, description, estimated_duration, last_run_id, last_run_result_code in queue %}
<tr>
  <td><a class="reference external" href="pkg/{{ pkg }}">{{ pkg }}</a></td>
  <td>{{ description|safe }}</td>
  <td>{{ format_duration(estimated_duration) if estimated_duration else 'unknown' }}</td>
  <td>{% if last_run_id %}<a href="/cupboard/pkg/{{ pkg }}/{{ last_run_id }}">{{ display_result_code(last_run_result_code) }}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
