{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% from "run_util.html" import display_result_code %}
{% block page_title %}Queue{% endblock %}
{% block body %}
<div class="section" id="queue">
<h1>Queue</h1>

<div name="current">
<h2>Currently processing</h2>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Package</th>
  <th class="head">Suite</th>
  <th class="head">Estimated Duration</th>
  <th class="head">Current Duration</th>
</tr>
</thead>
<tbody valign="top" id="queue-table">
{% for entry in processing %}
<tr id="active-{{ entry['id'] }}">
    <td><a href="/cupboard/pkg/{{ entry['package'] }}">{{ entry['package'] }}</a></td>
    <td>{{ entry['suite'] }}</td>
    <td>{{ format_duration(entry['estimated_duration']) if entry['estimated_duration'] else 'unknown' }}</td>
    <td>{{ format_duration(entry['current_duration']) }}</td>
    <!-- TODO(jelmer): Link to logs -->
    <!-- TODO(jelmer): Link to kill button, if user is admin -->
</tr>
{% endfor %}
</table>
</div>

<div name="queue">
<h2>Coming up</h2>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Package</th>
  <th class="head">Command</th>
  <th class="head">Estimated duration</th>
  <th class="head">Requestor</th>
  <th class="head">Last Run</th>
</tr>
</thead>
<tbody valign="top">
{% for queue_id, pkg, requestor, suite, description, estimated_duration, last_run_id, last_run_result_code in queue %}
<tr id="queue-{{ queue_id }}"{% if queue_id in active_queue_ids %} class="active"{% endif %}>
  <td><a class="reference external" href="pkg/{{ pkg }}">{{ pkg }}</a></td>
  <td>{{ description|safe }}</td>
  <td>{{ format_duration(estimated_duration) if estimated_duration else 'unknown' }}</td>
  <td>{{ requestor }}</td>
  <td>{% if last_run_id %}<a href="/cupboard/pkg/{{ pkg }}/{{ last_run_id }}">{{ display_result_code(last_run_result_code) }}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>

<script>
registerHandler('queue', function(msg) {
   console.log('Refreshing queue items');
   var seen_ids = [];
   for (i in msg['processing']) {
      var p = msg['processing'][i];
      var existing = 'active-' + p['id'];
      if (!$('#' + existing).length) {
	 tr = $('<tr id="active-' + p['id'] + '"/>');
	 tr.append('<td><a href="/cupboard/pkg/' + p['package'] + '">' + p['package'] + '</a></td>');
	 tr.append('<td>' + p['suite'] + '</td>');
	 tr.append('<td>' + format_duration(p['estimated_duration']) + '</td>');
	 tr.append('<td>' + format_duration(p['current_duration']) + '</td>');
	 tr.show();
	 $('#queue-table').append(tr);
      }
      seen_ids.push(existing);
   }
   $('#queue-table').children().each(function(ch, el) {
       if (!seen_ids.includes(el.id)) {
	 el.remove();
       }
   });
});

</script>

</div>
{% endblock %}
