{% extends "layout.html" %}
{% block page_title %}Queue{% endblock %}
{% block body %}
<div class="section" id="queue">
<h1>Queue</h1>
<table class="docutils" border="1">
<colgroup>
<col width="25%">
<col>
<col>
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Package</th>
<th class="head">Command</th>
<th class="head">Estimated duration</th>
</tr>
</thead>
<tbody valign="top">
{% for pkg, description, estimated_duration in queue %}
<tr><td><a class="reference external" href="pkg/{{ pkg }}">{{ pkg }}</a><td>{{ description|safe }}</td><td>{{ estimated_duration }}</td></tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
