{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% block page_title %}Review{% endblock %}
{% block body %}
<div class="section" id="review">
<h1>Review</h1>

{% for entry in branches %}
<div class="diff" id='diff.{{ entry.role }}'>
{{highlight_diff(show_diff('main'))|safe}}
</div>
{% endfor %}

<div id='debdiff'>
{{show_debdiff()|safe}}
</div>

<script type="text/javascript">
function loadRun(package, run_id, roles) {
    $('.review-button').blur()
    $('.review-button').disabled = true;
    var deferreds = [];
    roles.forEach(function(role) {
      deferreds.push($('#diff').load('/api/run/' + run_id + '/diff?role=' + role));
    });
    deferreds.push($('#debdiff').load('/api/run/' + run_id + '/debdiff?filter_boring=1',
          undefined,
          function(responseText, textStatus, XMLHttpRequest) {
               if (XMLHttpRequest.status == 404) {
                    $('#debdiff').html('<p>No debdiff generated</p>');
               }
    }));
    $.when(
      ...deferreds
    ).then(function() {
      $('#full-run-link').attr('href', "/cupboard/pkg/" + package + "/" + run_id);
      $('#run-id').attr('value', run_id);
      $('#package-name').attr('value', package);
      $('.review-button').disabled = false;
   });
}

var todo = [];
refreshData();
var queued = new Set();

$(function() {
  loadRun('{{ package_name }}', '{{ run_id }}', [{% for entry in branches %}'entry.role'{% if not loop.last %}, %{ endif %}]);
  $('.review-button').attr('type', 'button');
});

function loadNewJob() {
  if ((newJob = todo.shift()) !== undefined) {
    loadRun(newJob[0], newJob[1], newJob[2]);
  } else {
    $('.diff').replaceWith('All done!');
    $('#debdiff').replaceWith('');
    $('#options').remove();
    $('#full-run-link').remove();
  }
}

function refreshData(cb) {
  console.log("Updating backlog of todo items");
  $.ajax({
     url: '/api/{% if suite %}{{ suite }}/{% endif %}publish-ready?review-status=unreviewed&publishable_only=true',
     dataType: 'json',
     success: function(data) {
         data.forEach(function(entry) {
             if (!queued.has(entry[1])) {
                 todo.push(entry);
                 queued.add(entry[1]);
             }
         });
         cb();
     }
  });
}

function submitReview(elem, status) {
    var comment = undefined;
    if (status == 'rejected') {
        comment = window.prompt('Please specify a comment for the rejection');
    }
    var run_id = $('#run-id').val();
    var package = $('#package-name').val();
    console.log("Submitting review " + status + " for run " + package + "/" + run_id);
    $.ajax('/api/run/' + run_id, {
       type: "POST",
       data: {'review-status': status, 'review-comment': comment},
       statusCode: {
            401: function() {
                alert('failed to submit review: not authorized');
            },
            200: function() {
                if (todo.length == 0) {
                    refreshData(loadNewJob);
                } else {
                    loadNewJob();
                }
            }
       }
    });

}
</script>


<form action="/cupboard/review" method="POST" id="options">
<input type="hidden" name="run_id" id='run-id' value="{{ run_id }}"/>
<input type="hidden" name="package-name" id='package-name' value="{{ package_name }}"/>
<input class='review-button' type="submit" name="review_status" value="Approved" accesskey="a" onclick="submitReview(this, 'approved')">
<input class='review-button' type="submit" name="review_status" value="Rejected" accesskey="r" onclick="submitReview(this, 'rejected')">
<input class='review-button' type="submit" name="review_status" value="Reschedule" accesskey="s" onclick="submitReview(this, 'reschedule')">
</form>

<p><a href="/cupboard/pkg/{{ package_name }}/{{ run_id }}" id="full-run-link">Full Run</a></p>

</div>
{% endblock %}
