{% extends "layout.html" %}
{% from "codeblock.html" import include_console_log with context %}
{% from "run_util.html" import local_command, merge_command %}
{% block page_title %}Run details - {{ package }}{% endblock %}
{% block body %}
<div class="section" id="{{ run_id }}">
<h1>Run of {{ kind }} for {{ package }}</h1>

<ul class="simple">
<li>Package: <a class="reference external" href="..">{{ package }}</a></li>
<li>Start time: {{ start_time}}</li>
<li>Duration: {{ format_duration(finish_time - start_time) }}</li>
<li>Description: {{ description }}</li>
</ul>

{{ local_command(command, package) }}

<!-- TODO(jelmer): Include button to propose merging -->
<!-- TODO(jelmer): Include button to retry -->

{% if branch_name %}
{{ merge_command(package, branch_name) }}
{% else %}
{% if build_log_name %}
{% with f = get_log(build_log_name) %}
{{ include_console_log(f, build_log_include_lines or (max(1, build_log_line_count), None), build_log_highlight_lines) }}
{% endwith %}
{% elif worker_log_name %}
{% with f = get_log(worker_log_name) %}
{{ include_console_log(f) }}
{% endwith %}
{% else %}
<!-- No logs to display :( -->
{% endif %}
{% endif %}

{% if changes_name %}
<h2>Resulting package</h2>
<p>Changes filename: <a class="reference external" href="/{{ build_distro }}/{{ changes_name }}">{{ changes_name }}</a></p>

{% if binary_packages %}
<p>Install this package (if you have the <a class="reference external" href="/{{ build_distro }}">apt repository</a> enabled) by running one of:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
{% for binary_package in binary_packages %}
apt install -t {{ build_distro }} {{ binary_package }}
{% endfor %}
</pre></div></div>
{% endif %}
{% endif %}

<p>{% if build_log_path %}<a class="reference external" href="{{ build_log_name }}">Full build log</a>{% for i, name in earlier_build_log_names %}<a href="{{ name }}">{{ i }}</a>{% endfor %} {% endif %}{% if worker_log_name %}<a class="reference external" href="{{ worker_log_name }}">Full worker log</a>{% endif %}</p>

</div>
{% endblock %}
