{% macro local_command(command, package) %}
<p>Try this locally (using <a href="https://packages.debian.org/silver-platter">silver-platter</a>):</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>debian-svp {{ command }} {{ package }} </pre></div></div>
{% endmacro %}

{% macro merge_command(package, branch_name, vcs) %}
{% if vcs == 'git' %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>git pull {{ cache_url_git }}{{ package }} {{ branch_name }}</pre></div></div>
{% elif vcs == 'bzr' %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>brz merge {{ cache_url_bzr }}{{ package }}/{{ branch_name }}</pre></div></div>
{% else %}
<!-- Unknown vcs: {{ vcs }} -->
{% endif %}
{% endmacro %}

{% macro reschedule_button(suite, package, title="Reschedule", resultDiv=None) %}
<button id="reschedule">{{ title }}</button>

<script src="/_static/jquery.js"></script>
<script>
$(function() {
  $("#reschedule").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/schedule', {}, function(data) {
      console.log('Scheduled: ' + data.offset);
{% if resultDiv %}
      $("{{ resultDiv }}").append("Scheduled new run with offset " + data.offset + ".<br/>");
{% endif %}
    }, 'json');
  });
});
</script>
{% endmacro %}

{% macro publish_buttons(suite, package, resultDiv=None) %}
<button id="propose">Create merge proposal</button> <button id="push-derived">Create fork with changes</button>

<script src="/_static/jquery.js"></script>

<script>
$(function() {
  $("#propose").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/publish', {'mode': 'propose'}, function(data) {
{% if resultDiv %}
      if (data.proposal && data.is_new) {
          $("{{ resultDiv }}").append("Created <a href=\"" + data.proposal + "\">new merge proposal</a>.<br/>");
      } else {
          $("{{ resultDiv }}").append("Updated <a href=\"" + data.proposal + "\">merge proposal</a>.<br/>");
      }
{% endif %}
    }, 'json');
  });

  $("#push-derived").click(function() {
    $.post('/api/{{ suite }}/pkg/{{ package }}/publish', {'mode': 'push-derived'}, function(data) {
{% if resultDiv %}
      $("{{ resultDiv }}").append("Created fork.<br/>");
{% endif %}
    }, 'json');
  });
});
</script>
{% endmacro %}

{% macro install_commands(binary_packages, distribution) %}
{% if binary_packages %}
<p>The resulting binary packages can be installed (if you have the <a class="reference external" href="/{{ distribution }}">apt repository</a> enabled) by running one of:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
{% for binary_package in binary_packages %}apt install -t {{ distribution }} {{ binary_package }}
{% endfor %}</pre></div></div>
{% endif %}
{% endmacro %}

{% macro display_result_code(result_code) %}
<span class="result-code-{{ result_code if result_code in ('success', 'nothing-to-do') else 'failure' }}">{{ result_code }}</span>
{% endmacro %}

{% macro result_code_explanation(result_code) %}
{% if result_code %}
<blockquote class="result-code-explanation">
{% include ("result-codes/" + result_code + ".html") ignore missing %}
</blockquote>
{% endif %}
{% endmacro %}
