{% extends "layout.html" %}
{% block sidebar %}
    {% include "cupboard/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Failure Stages
    {% if campaign %}- for {{ campaign }}{% endif %}
{% endblock page_title %}
{% block body %}
    <div class="section" id="stages">
        <h1>Failure Stages</h1>
        Select campaign to display:
        <form method="get" id="filter">
            <select name="campaign" onchange="$('#filter').submit()">
                <option name="_all" value="_all">
                    All
                </option>
                {% for s in all_campaigns %}
                    <option value="{{ s }}"
                            name="{{ s }}"
                            {% if s == campaign %} selected{% endif %}>
                        {{ s }}
                    </option>
                {% endfor %}
            </select>
            <input type="checkbox"
                   name="include_transient"
                   id="transient"
                   {% if include_transient %} checked{% endif %}
                   onchange="$('#filter').submit()"/>
            <label for="transient">Include transient</label>
            <input type="checkbox"
                   name="include_historical"
                   id="historical"
                   {% if include_historical %} checked{% endif %}
                   onchange="$('#filter').submit()"/>
            <label for="historical">Include historical</label>
        </form>
{%- macro random_colors(n) -%}
[{% for i in range(n) %}'rgb({{ range(0, 255)|random }}, {{ range(0, 255)|random }}, {{ range(0, 255)|random }})', {% endfor %}]
{%- endmacro -%}
        <div style="width: 400px; height: 600px;">
            <canvas id="stage-chart"/>
        </div>
        <script>
            var stage_chart = new Chart($("#stage-chart"), {
                type: 'pie',
                data: {
                    labels: {{ failure_stages | map(attribute = 0) | list | tojson }},
                    datasets: [{
                        data: {{ failure_stages | map(attribute = 1) | list | tojson }},
                        backgroundColor: {{ random_colors(failure_stages | length) }},
                    }],
                },
                options: {
                    legend: {
                        display: false
                    },
                    responsive: true,
                    maintainAspectRatio: false,
                    title: {
                        text: "Failure Stage Frequency",
                        display: true
                    },
                },
            });
        </script>
        <table id="stage-table" class="docutils display" border="1">
            <colgroup>
                <col width="95%"/>
                <col width="5%"/>
            </colgroup>
            <thead valign="bottom">
                <tr class="row-odd">
                    <th class="head">Stage</th>
                    <th class="head">Count</th>
                </tr>
            </thead>
            <tbody valign="top">
                {% for stage, count in failure_stages %}
                        <tr class="row-even">
                            <td>{{ stage }}</td>
                            <td>{{ count }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        <script>
            $(function() {
                $('#stage-table').DataTable({
                    "order": [
                        [1, "desc"]
                    ],
                    "pageLength": 200,
                    "lengthMenu": [50, 200]
                });
            });
        </script>
    </div>
{% endblock body %}
