{% extends "layout.html" %}
{% block sidebar %}
    {% include "cupboard/sidebar.html" %}
{% endblock sidebar %}
{% block page_title %}
    Review
{% endblock page_title %}
{% block body %}
    <div class="section" id="review">
        <h1>Review</h1>
        <p>
            <a href="/cupboard/c/{{ codebase }}/{{ run_id }}/"
               id="full-run-link">Full Run</a>
            {% if review_instructions_url %}
            <a href="{{ review_instructions_url }}">Review Instructions</a>
            {% endif %}
        </p>
        <div id="evaluate">{{ evaluate|safe }}</div>
        <script type="text/javascript">

            function disallowReview() {
                $('.review-button').blur();
                $('.review-button').disabled = "disabled";
            }

            function allowReview(codebase, run_id) {
                $('#full-run-link').attr('href', "/cupboard/c/" + codebase + "/" + run_id);
                $('#run-id').attr('value', run_id);
                $('#codebase').attr('value', codebase);
                $('.review-button').disabled = "enabled";
            }

            function loadRun(codebase, run_id) {
                disallowReview();
                if (run_id in preloaded) {
                    $('#evaluate').html(preloaded[run_id]);
                    delete preloaded[run_id];
                    allowReview(codebase, run_id);
                } else {
                    $('#evaluate').load("{{ evaluate_url }}".replace('RUN_ID', run_id), function() { allowReview(codebase, run_id); });
                }
                preloadSome();
            }

            function preload(codebase, run_id) {
                if (run_id in preloaded) {
                    return;
                }
                $.ajax({
                    url : "{{ evaluate_url }}".replace('RUN_ID', run_id),
                    success : function(result) { preloaded[run_id] = result; }
                });
            }

            function preloadSome() {
                for (i in todo.slice(0, 20)) {
                    preload(todo[i].codebase, todo[i].id);
                }
            }

            var preloaded = {};
            var todo = {{ todo[1: ] | tojson }};
            var queued = new Set();
            todo.forEach(function(entry) {
                queued.add(entry[1]);
            });

            preloadSome();

            $(function() {
                $('.review-button').attr('type', 'button');
            });

            function loadNewJob() {
                if ((newJob = todo.shift()) !== undefined) {
                    loadRun(newJob.codebase, newJob.id);
                } else {
                    {% if not publishable_only %}
                        $('.branch').replaceWith('All done!');
                    {% else %}
                        $('.branch').replaceWith('All done! <a href="/cupboard/review?publishable_only=false">Review unpublishable</a>');
                    {% endif %}
                    $('#evaluate').replaceWith('');
                    $('#options').remove();
                    $('#full-run-link').remove();
                }
            }

            function refreshData(cb) {
                console.log("Updating backlog of todo items");
                $.ajax({
			url: '/cupboard/api/{% if suite %}{{ suite }}/{% endif %}needs-review?required_only={{ 'true' if required_only else 'false' }}&{% if user %}&reviewer={{ user['email'] }}{% endif %}&publishable_only={{ 'true ' if publishable_only else 'false ' }}',
                    dataType: 'json',
                    success: function(data) {
                        data.forEach(function(entry) {
                            if (!queued.has(entry[1])) {
                                todo.push(entry);
                                queued.add(entry[1]);
                            }
                        });
                        cb();
                    }
                });
            }

            function submitReview(elem, verdict) {
                var comment = undefined;
                if (verdict == 'rejected') {
                    comment = window.prompt('Please specify a comment for the rejection');
                }
                var run_id = $('#run-id').val();
                var codebase = $('#codebase').val();
                console.log("Submitting review " + verdict + " for run " + codebase + "/" + run_id);
                disallowReview();
                $.ajax('/api/run/' + run_id, {
                    type: "POST",
                    data: {
                        'verdict': verdict,
                        'review-comment': comment
                    },
                    statusCode: {
                       401: function() {
                       {% if user %}
                           alert('failed to submit review: not authorized');
                       {% else %}
                           window.location.replace("/login?url=" + encodeURI(window.location.href));
                       {% endif %}
                       },
                       200: function() {
                           if (todo.length == 0) {
                                refreshData(loadNewJob);
                           } else {
                                loadNewJob();
                           }
                       },
                       500: function(response) {
			   alert('500 error submitting review: ' + response.responseText);
		       }
                    }
                });
            }
        </script>
        <form action="/cupboard/review" method="post" id="options">
            <input type="hidden" name="run_id" id="run-id" value="{{ run_id }}"/>
            <input type="hidden"
                   name="codebase"
                   id="codebase"
                   value="{{ codebase }}"/>
            {% if suites %}
                {% for s in suites %}<input type="hidden" name="suites[]" value="{{ s }}"/>{% endfor %}
            {% endif %}
            <input class="review-button"
                   type="submit"
                   name="verdict"
                   value="Approve"
                   accesskey="a"
                   onclick="submitReview(this, 'approved')"/>
            <input class="review-button"
                   type="submit"
                   name="verdict"
                   value="Reject"
                   accesskey="r"
                   onclick="submitReview(this, 'rejected')"/>
            <input class="review-button"
                   type="submit"
                   name="verdict"
                   value="Reschedule"
                   accesskey="s"
                   onclick="submitReview(this, 'reschedule')"/>
            <input class="review-button"
                   type="submit"
                   name="verdict"
                   value="Abstain"
                   accesskey="n"
                   onclick="submitReview(this, 'abstained')"/>
            <input type="checkbox"
                   value="true"
                   name="publishable_only"
                   id="publishable-only"
                   {% if publishable_only %} checked{% endif %}
                   onchange="$('#options').submit()"/>
            <label for="publishable_only">Publishable only</label>
        </form>
    </div>
{% endblock body %}
