{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard/sidebar.html" %}{% endblock sidebar %}
{% block page_title %}Review Statistics{% endblock page_title %}
{% block body %}
<div class="section" id="stats">
<h1>Review Statistics</h1>

<div name="current">
<h2>Reviews by Reviewer</h2>
<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Reviewer</th>
  <th class="head">Count</th>
</tr>
</thead>
<tbody valign="top" name="queue-table">
{% for reviewer, count in by_reviewer %}
<tr>
    <td>{{ reviewer }}</td>
    <td>{{ count }}</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>

<div name="by-status">
<h2>Review Status</h2>

<table class="docutils" border="1">
<thead valign="bottom">
<tr class="row-odd">
  <th class="head">Status</th>
  <th class="head">Count</th>
  <th class="head">Percentage of total</th>
</tr>
</thead>
<tbody valign="top" name="status-table">
{% for status, count, percentage in by_review_status %}
<tr>
    <td>{{ status }}</td>
    <td>{{ count }}</td>
    <td>{{ percentage|round(2) }}%</td>
</tr>
{% endfor %}

</tbody>
</table>

</div>

</div>
{% endblock body %}
<!-- vim: expandtab -->
