<div class="section" id="how-can-i-contribute-more-fixer-scripts">
<h3><a class="toc-backref" href="#id17">How can I contribute improvements?</a></h3>
<p>You can contribute scripts to the <em>lintian-brush</em> repository at <a class="reference external" href="https://salsa.debian.org/jelmer/lintian-brush">https://salsa.debian.org/jelmer/lintian-brush</a>. See the lintian-brush <a class="reference external" href="https://salsa.debian.org/jelmer/lintian-brush/blob/master/README.md">README file</a> for details.</p>
</div>
