[Unit]
Description=Run

StartLimitIntervalSec=90
StartLimitBurst=3

[Service]
User={{ janitor_user }}
Type=simple
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m janitor.runner --listen-address={{ janitor_runner_address }} --port={{ janitor_runner_port }} --config={{ janitor_conf_path }} --public-vcs-location={{ janitor_site_external_url }} --backup-directory={{ janitor_runner_backup_directory }} --policy={{ janitor_home }}/policy.conf
Restart=on-failure
RestartSec=5min
MemoryAccounting=yes
MemoryHigh=10G
MemoryMax=12G
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=default.target
