[Unit]
Description=Ognibuild dep server

StartLimitIntervalSec=3600
StartLimitBurst=3

[Service]
User={{ janitor_user }}
Type=simple
WorkingDirectory={{ janitor_code_path }}
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m ognibuild.dep_server --listen-address={{ ognibuild_dep_address }} --port={{ ognibuild_dep_port }}

Restart=on-failure
RestartSec=600s

[Install]
WantedBy=default.target
