{% macro reprocess_logs_button(run_id, title="Reprocess logs", id="reprocess-logs", accesskey="l") %}
    <button id="{{ id }}"
            {% if accesskey %}accesskey="{{ accesskey }}"{% endif %}>{{ title }}</button>
    <script>
        $(function() {
            $("#{{ id }}").click(function() {
                $.post('/cupboard/api/run/{{ run_id }}/reprocess-logs', {}, function(data) {
                        if (data['changed']) {
                            $("#{{ id }}").replaceWith("<span>Logs reprocessed and analysis updated.</span>");
                        } else {
                            $("#{{ id }}").replaceWith("<span>Logs reprocessed but no changes made.</span>");
                        }
                    }, 'json')
                    .fail(function(response) {
                        $("#{{ id }}").replaceWith("<span>Failed to reprocess logs: " + response.responseText + "</span>");
                    });
            });
        });
    </script>
{% endmacro %}
