[Unit]
Description=Janitor Git Store

StartLimitIntervalSec=3600
StartLimitBurst=3

[Service]
User={{ janitor_user }}
Type=simple
WorkingDirectory={{ janitor_code_path }}
ExecStart={{ janitor_venv }}/bin/python -m janitor.git_store --listen-address={{ janitor_vcs_store_address }} --public-port={{ janitor_git_store_public_port }} --port={{ janitor_git_store_port }} --config={{ janitor_conf_path }} --vcs-path={{ janitor_git_store_path }}
LimitNOFILE=500000
LimitNPROC=500000

Restart=on-failure
RestartSec=600s

[Install]
WantedBy=default.target
