{% extends "layout.html" %}
{% block page_title %}Cupboard - History{% endblock %}
{% block body %}
 <div class="section" id="history">
<h1>History</h1>
<p>Last {{ count }} runs:</p>
<table class="docutils" border="1">
<colgroup>
<col width="41%">
<col width="6%">
<col width="4%">
<col width="49%">
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Package</th>
<th class="head">Command</th>
<th class="head">Duration</th>
<th class="head">Result</th>
</tr>
</thead>
<tbody valign="top">
{% for package, command, duration, run_id, result_code, proposal_url in history %}
<tr class="row-even"><td><a class="reference external" href="/cupboard/pkg/{{ package }}">{{ package }}</a></td>
<td>{{ command }}</td>
<td>{{ format_duration(duration) }}</td>
<td><a class="reference external" href="/pkg/{{ package }}/{{ run_id }}">{{ result_code }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
