{% macro include_console_log(path, include_lines=None, highlight_lines=None) %}
{% with lines = read_file(path) %}
<div class="highlight-console notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv">
<pre>{% for i, line in enumerate(lines, 1) %}{% if in_line_boundaries(i, include_lines) %}{{ i }}
{% endif %}{% endfor %}</pre></div></td><td class="code"><div class="highlight">
<pre>
{% for i, line in enumerate(lines, 1) %}{% if in_line_boundaries(i, include_lines) %}<span class="go{{ 'hll' if highlight_lines and in_line_boundaries(i, highlight_lines) else ''">{{ line.rstrip('\n') }}</span>
{% endif %}{% endfor %}</pre></div>
</td></tr></table></div>
{% endwith %}
{% endmacro %}

{% extends "layout.html" %}
{% block page_title %}Contact{% endblock %}
{% block body %}
<div class="section" id="{{ run_id }}">
<h1>Run of {{ kind }} for {{ package }}</h1>

<ul class="simple">
<li>Package: <a class="reference external" href="..">{{ package }}</a></li>
<li>Start time: {{ start_time}}</li>
<li>Finish time: {{ finish_time }}</li>
<li>Duration: {{ format_duration(finish_time - start_time) }}</li>
<li>Description: {{ description }}</li>
{% if changes_name %}
<li>Changes filename: <a class="reference external" href="../../../{{ build_distro }}/{{ changes_name }}">{{ changes_name }}</a></li>
{% endif %}
</ul>

<p>Try this locally:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>debian-svp {{ command }} {{ package }} </pre></div></div>

{% if vcs == 'git' and branch_name %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>git pull {{ cache_url_git }}{{ package }} {{ branch_name }}</pre></div></div>
{% elif vcs == 'bzr' and branch_name %}
<p>Merge these changes:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>brz merge {{ cache_url_bzr }}{{ package }}/{{ branch_name }}</pre></div></div>
{% else %}
{% if build_log_path %}
{{ include_console_log(build_log_path, build_log_include_lines or (max(1, build_log_line_count), None), build_log_highlight_lines) }}
{% elif worker_log_path %}
{{ include_console_log(worker_log_path) }}
{% else %}
<!-- No logs to display :( -->
{% endif %}
{% endif %}

{% if binary_packages %}
<p>Install this package (if you have the <a class="reference external" href="../../../">apt repository</a> enabled) by running one of:</p>
<div class="highlight-default notranslate"><div class="highlight"><pre>
{% for binary_package in binary_packages %}
apt install -t {{ build_distro }} {{ binary_package }}
{% endfor %}
</pre></div></div>
{% endif %}

<p>{% if build_log_path %}<a class="reference external" href="../pkg/{{ package }}/{{ run_id }}/{{ build_log_name }}">Full build log</a>{% for i, name in earlier_build_log_names %}<a href="../pkg/{{ package }}/{{ run_id }}/{{ name }}">{{ i }}</a>{% endfor %} {% endif %}{% if worker_log_name %}<a class="reference external" href="../pkg/{{ package }}/{{ run_id }}/{{ worker_log_name }}">Full worker log</a>{% endif %}</p>

</div>
{% endblock %}
