[Unit]
Description=Schedule

[Service]
User={{ janitor_user }}
Type=oneshot
WorkingDirectory={{ janitor_code_path }}
EnvironmentFile={{ janitor_home }}/env
ExecStart=python3 -m janitor.policy \
	--config={{ janitor_conf_path}} \
	--policy={{ janitor_home }}/policy.conf "$@"

[Install]
WantedBy=default.target
