---
name: Build and Publish Mastodon Notify Container

on:
  # run it on push to the default repository branch
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 6 * * *'  # Daily 6AM UTC build

jobs:
  # define job to build and publish docker image
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    # run only when code is compiling and tests are passing
    runs-on: ubuntu-latest

    # steps to perform in job
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Github Packages
        uses: redhat-actions/podman-login@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build mastodon-notify image
        id: build-image-mastodon-notify
        uses: redhat-actions/buildah-build@v2
        with:
          containerfiles: "Dockerfile_mastodon_notify"
          image: ghcr.io/jelmer/janitor/mastodon_notify
          tags: ${{ github.sha }} ${{ github.ref_name }}

      - name: Push mastodon-notify image to ghcr.io
        if: ${{ github.event_name != 'pull_request' }}
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.build-image-mastodon-notify.outputs.image }}
          tags: ${{ steps.build-image-mastodon-notify.outputs.tags }}
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
