---
name: Rust build

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  rust-build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt -y install devscripts libapt-pkg-dev libtdb-dev libssl-dev pkg-config libgpgme-dev protobuf-compiler devscripts
      - name: Upgrade pip
        run: python -m pip install --upgrade pip setuptools_rust setuptools
      - name: Install breezy, diffoscope
        run: python -m pip install --upgrade breezy diffoscope jsondiff "brz-debian@git+https://github.com/breezy-team/breezy-debian"
      # TODO(jelmer): Add proper test isolation so this isn't necessary
      - name: Setup bzr identity
        run: brz whoami "CI <ci@noreply.github.com>"
      - name: Build
        run: cargo build --verbose --workspace
      - name: Run tests
        run: cargo test --verbose --workspace

  rust-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install rustfmt
        run: sudo apt -y install rustfmt cargo
      - name: Check formatting
        run: cargo fmt --all -- --check
