[Unit]
Description=The Janitor Site

[Service]
User={{ janitor_user }}
Type=simple
ExecStart={{ janitor_venv }}/bin/python -m janitor.site.serve --host {{ janitor_site_address }} --port {{ janitor_site_port }} --public-port {{ janitor_site_public_port }} --publisher-url {{ janitor_publish_url }} --runner-url {{ janitor_runner_url }} --config {{ janitor_conf_path }} --differ-url {{ janitor_differ_url }} --archiver-url {{ janitor_archive_url }} {% if janitor_site_external_url %}--external-url={{ janitor_site_external_url }} {% endif %}


[Install]
WantedBy=default.target
